<power-modal #questionsettingsmodal
             checkInvalid="true"
             (closing)="close($event)">
    <div class="container px-1 px-lg-3"
         *ngIf="question !== null && model.pages[page].elements[question]">
        <accordion [isAnimated]="false"
                   [closeOthers]="true">
            <!-- common -->
            <accordion-group i18n-heading
                             heading="Allgemein"
                             class="mb-1 mb-lg-3">
                <!-- question-name -->
                <div class="form-group">
                    <label for="question-name"
                           (click)="questionsettingsmodal.scrollToFooter()"
                           role="button"
                           i18n>Fragen ID *</label>
                    <input type="text"
                           class="form-control"
                           [(ngModel)]="model.pages[page].elements[question].name"
                           [class.is-invalid]="!model.pages[page].elements[question].name"
                           maxlength="200"
                           name="question-name"
                           id="question-name"
                           aria-describedby="question-nameHelp"
                           required
                           disabled>
                    <small id="question-nameHelp"
                           class="form-text text-muted">
                        <span i18n>Dieser Wert muss im Formular einmalig sein. Die ID lässt
                            sich als Variable nutzen, diese enthält die Antwort der Frage:</span>
                        <code>{{ ' &#123;' + model.pages[page].elements[question].name + '&#125;' }}</code>
                    </small>
                </div>

                <!-- question-title -->
                <div class="form-group">
                    <label for="question-title"
                           (click)="questionsettingsmodal.scrollToFooter()"
                           role="button"
                           i18n>Fragen Titel *</label>
                    <power-forms-editor-localeinput [(locale)]="model.pages[page].elements[question].title"
                                                    eid="question-title"
                                                    [required]="true"
                                                    maxlength="200"></power-forms-editor-localeinput>
                </div>

                <!-- question-description -->
                <div class="form-group">
                    <label for="question-description"
                           i18n>Fragen Beschreibung</label>
                    <power-forms-editor-localeinput [textarea]="true"
                                                    [(locale)]="model.pages[page].elements[question].description"
                                                    eid="question-description"
                                                    describedby="question-descriptionHelp">
                    </power-forms-editor-localeinput>
                    <small id="question-descriptionHelp"
                           class="form-text text-muted"
                           i18n>Dieser Text wird unter dem Titel angezeigt.</small>
                </div>

                <!-- markdown-instructions -->
                <power-markdown-instructions #formattinghelpmodal>
                </power-markdown-instructions>

                <span i18n>Sichtbarkeitsbedingungen für die Frage</span>
                <hr>
                <power-forms-editor-conditions [model]="model"
                                               [(data)]="model.pages[page].elements[question].visibleIf">
                </power-forms-editor-conditions>
                <hr>

                <!-- question-isRequired -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].isRequired"
                           name="question-isRequired"
                           id="question-isRequired">
                    <label class="custom-control-label"
                           for="question-isRequired"
                           i18n>Pflichtfeld</label>
                </div>

                <!-- question-requiredErrorText -->
                <div class="form-group"
                     *ngIf="model.pages[page].elements[question].isRequired">
                    <label for="question-requiredErrorText"
                           i18n>Pflichtfeld Fehlertext</label>
                    <power-forms-editor-localeinput [(locale)]="model.pages[page].elements[question].requiredErrorText"
                                                    eid="question-requiredErrorText"
                                                    maxlength="200"></power-forms-editor-localeinput>
                </div>

                <!-- question-titleLocation -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           [checked]="!model.pages[page].elements[question].titleLocation || model.pages[page].elements[question].titleLocation === 'default'"
                           (click)="toggleQuestionTitle()"
                           name="question-titleLocation"
                           id="question-titleLocation">
                    <label class="custom-control-label"
                           for="question-titleLocation"
                           i18n>Titel und Beschreibung anzeigen</label>
                </div>

                <!-- question-hasComment -->
                <div class="custom-control custom-checkbox mb-3"
                     *ngIf="model.pages[page].elements[question].commentText">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].hasComment"
                           [disabled]="model.pages[page].elements[question].hasOther"
                           name="question-hasComment"
                           id="question-hasComment"
                           aria-describedby="question-hasCommentHelp">
                    <label class="custom-control-label"
                           for="question-hasComment"
                           i18n>Kommentar Eingabefeld aktivieren</label>
                    <small id="question-hasCommentHelp"
                           class="form-text text-muted"
                           i18n>Diese Option ist deaktiviert, wenn das "Anderes Eingabefeld" aktiviert ist.</small>
                </div>

                <!-- question-commentText -->
                <div class="form-group"
                     *ngIf="model.pages[page].elements[question].hasComment">
                    <label for="question-commentText"
                           i18n>Kommentar Eingabefeld Text</label>
                    <power-forms-editor-localeinput [(locale)]="model.pages[page].elements[question].commentText"
                                                    eid="question-commentText"
                                                    maxlength="200"></power-forms-editor-localeinput>
                </div>

                <!-- question-visible -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].visible"
                           name="question-visible"
                           id="question-visible"
                           aria-describedby="question-visibleHelp">
                    <label class="custom-control-label"
                           for="question-visible"
                           i18n>Sichtbar</label>
                    <small id="question-visibleHelp"
                           class="form-text text-muted"
                           i18n>Diese Option stellt ein, ob das Feld standardmäßig sichtbar ist.</small>
                </div>

                <!-- question-readOnly -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].readOnly"
                           name="question-readOnly"
                           id="question-readOnly"
                           aria-describedby="question-readOnlyHelp">
                    <label class="custom-control-label"
                           for="question-readOnly"
                           i18n>Deaktiviert</label>
                    <small id="question-readOnlyHelp"
                           class="form-text text-muted"
                           i18n>Diese Option stellt ein, ob das Feld standardmäßig ausfüllbar ist.</small>
                </div>

                <!-- question-hideNumber -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].hideNumber"
                           name="question-hideNumber"
                           id="question-hideNumber">
                    <label class="custom-control-label"
                           for="question-hideNumber"
                           i18n>Fragennummer verstecken</label>
                </div>

                <!-- question-startWithNewLine -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].startWithNewLine"
                           name="question-startWithNewLine"
                           id="question-startWithNewLine">
                    <label class="custom-control-label"
                           for="question-startWithNewLine"
                           i18n>Frage startet auf neuer Zeile</label>
                </div>

                <!-- question-width -->
                <div class="form-group"
                     *ngIf="model.pages[page].elements[question].type !== 'signaturepad'">
                    <label for="question-width"
                           i18n>Breite der Frage in Pixel</label>
                    <input type="text"
                           class="form-control"
                           [(ngModel)]="model.pages[page].elements[question].width"
                           name="question-width"
                           id="question-width"
                           placeholder="200px">
                </div>

                <div *ngIf="model.pages[page].elements[question].type === 'text'">
                    <!-- question-inputType-->
                    <div class="form-group">
                        <label for="question-inputType"
                               i18n>Eingabetyp</label>
                        <select class="custom-select"
                                [(ngModel)]="model.pages[page].elements[question].inputType"
                                id="question-inputType"
                                name="question-inputType">
                            <option value="color"
                                    i18n>Farbe</option>
                            <option value="date"
                                    i18n>Datum</option>
                            <option value="datetime-local"
                                    i18n>Datum und Uhrzeit</option>
                            <option value="email"
                                    i18n>E-Mail</option>
                            <option value="month"
                                    i18n>Monat</option>
                            <option value="number"
                                    i18n>Zahl</option>
                            <option value="tel"
                                    i18n>Telefonnummer</option>
                            <option value="text"
                                    i18n>Text</option>
                            <option value="time"
                                    i18n>Uhrzeit</option>
                            <option value="url"
                                    i18n>URL</option>
                            <option value="week"
                                    i18n>Woche</option>
                        </select>
                    </div>

                    <!-- question-step -->
                    <div class="form-group"
                         *ngIf="model.pages[page].elements[question].inputType === 'number'">
                        <label for="question-step2"
                               i18n>Skala Schritte</label>
                        <input type="number"
                               class="form-control"
                               step="0.01"
                               min="0.01"
                               [(ngModel)]="model.pages[page].elements[question].step"
                               [class.is-invalid]="model.pages[page].elements[question].step === '' && model.pages[page].elements[question].step < 0.01"
                               name="question-step2"
                               id="question-step2">
                    </div>

                    <!--<span i18n>Minimaler Wert</span>
                        <power-forms-editor-value [question]="model.pages[page].elements[question]"
                                                  [(value)]="model.pages[page].elements[question].min">
                        </power-forms-editor-value>

                        <hr>
                        <span i18n>Maximaler Wert</span>
                        <power-forms-editor-value [question]="model.pages[page].elements[question]"
                                                  [(value)]="model.pages[page].elements[question].max">
                        </power-forms-editor-value>-->
                </div>

                <!-- question-rows -->
                <div class="form-group"
                     *ngIf="model.pages[page].elements[question].type === 'comment'">
                    <label for="question-rows"
                           i18n>Zeilen des Eingabefeldes</label>
                    <input type="number"
                           class="form-control"
                           [(ngModel)]="model.pages[page].elements[question].rows"
                           [class.is-invalid]="model.pages[page].elements[question].rows % 1 !== 0 || model.pages[page].elements[question].rows < 1 || model.pages[page].elements[question].rows > 20"
                           step="1"
                           min="1"
                           max="20"
                           name="question-rows"
                           id="question-rows">
                </div>

                <div *ngIf="model.pages[page].elements[question].type === 'rating'">
                    <!-- question-rateStep -->
                    <div class="form-group">
                        <label for="question-rateStep"
                               i18n>Wert Schritte</label>
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="model.pages[page].elements[question].rateStep"
                               [class.is-invalid]="model.pages[page].elements[question].rateStep % 1 !== 0 || model.pages[page].elements[question].rateStep < 1"
                               step="1"
                               min="1"
                               name="question-rateStep"
                               id="question-rateStep">
                    </div>

                    <!-- question-minRateDescription -->
                    <div class="form-group">
                        <label for="question-minRateDescription"
                               i18n>Anzeigetext Minimum</label>
                        <power-forms-editor-localeinput [(locale)]="model.pages[page].elements[question].minRateDescription"
                                                        eid="question-minRateDescription"
                                                        maxlength="200"></power-forms-editor-localeinput>
                    </div>

                    <!-- question-rateMin -->
                    <div class="form-group">
                        <label for="question-rateMin"
                               i18n>Minimaler Wert</label>
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="model.pages[page].elements[question].rateMin"
                               [class.is-invalid]="model.pages[page].elements[question].rateMin % 1 !== 0 || model.pages[page].elements[question].rateMin < 0 || model.pages[page].elements[question].rateMin >= model.pages[page].elements[question].rateMax"
                               step="1"
                               min="0"
                               name="question-rateMin"
                               id="question-rateMin">
                    </div>

                    <!-- question-maxRateDescription -->
                    <div class="form-group">
                        <label for="question-maxRateDescription"
                               i18n>Anzeigetext Maximum</label>
                        <power-forms-editor-localeinput [(locale)]="model.pages[page].elements[question].maxRateDescription"
                                                        eid="question-maxRateDescription"
                                                        maxlength="200"></power-forms-editor-localeinput>
                    </div>

                    <!-- question-rateMax -->
                    <div class="form-group">
                        <label for="question-rateMax"
                               i18n>Maximaler Wert</label>
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="model.pages[page].elements[question].rateMax"
                               [class.is-invalid]="model.pages[page].elements[question].rateMax % 1 !== 0 || model.pages[page].elements[question].rateMax < 1 || model.pages[page].elements[question].rateMin >= model.pages[page].elements[question].rateMax"
                               step="1"
                               min="0"
                               name="question-rateMax"
                               id="question-rateMax">
                    </div>
                </div>

                <div *ngIf="model.pages[page].elements[question].type === 'nouislider'">
                    <!-- question-double -->
                    <div class="custom-control custom-checkbox mb-3"
                         *ngIf="!model.pages[page].elements[question].inputbox">
                        <input type="checkbox"
                               class="custom-control-input"
                               [(ngModel)]="model.pages[page].elements[question].double"
                               name="question-double"
                               id="question-double">
                        <label class="custom-control-label"
                               for="question-double"
                               i18n>Zweiten Handle für Slider aktivieren</label>
                    </div>

                    <!-- question-inputbox -->
                    <div class="custom-control custom-checkbox mb-3"
                         *ngIf="!model.pages[page].elements[question].double">
                        <input type="checkbox"
                               class="custom-control-input"
                               [(ngModel)]="model.pages[page].elements[question].inputbox"
                               name="question-inputbox"
                               id="question-inputbox">
                        <label class="custom-control-label"
                               for="question-inputbox"
                               i18n>Zusätzliches Eingabefeld aktivieren</label>
                    </div>

                    <!-- question-step -->
                    <div class="form-group">
                        <label for="question-step"
                               i18n>Skala Schrittinterval</label>
                        <input type="number"
                               class="form-control"
                               step="0.01"
                               min="0.01"
                               [(ngModel)]="model.pages[page].elements[question].step"
                               [class.is-invalid]="model.pages[page].elements[question].step < 0.01"
                               name="question-step"
                               id="question-step"
                               aria-describedby="question-stepHelp">
                        <small id="question-stepHelp"
                               class="form-text text-muted">
                            <span i18n>Werte auf Skala</span>
                            <ng-container *ngFor="let x of [0, 1, 2, 3, 4, 5]; index as i">
                                {{ x * model.pages[page].elements[question].step | number }},
                            </ng-container>
                            ...
                        </small>
                    </div>

                    <!-- question-decimals -->
                    <div class="form-group">
                        <label for="question-decimals"
                               i18n>Anzahl Nachkommastellen</label>
                        <input type="number"
                               class="form-control"
                               step="1"
                               min="0"
                               max="2"
                               [(ngModel)]="model.pages[page].elements[question].decimals"
                               [class.is-invalid]="model.pages[page].elements[question].decimals % 1 !== 0 || model.pages[page].elements[question].decimals < 0 || model.pages[page].elements[question].decimals > 2"
                               name="question-decimals"
                               id="question-decimals"
                               aria-describedby="question-decimalsHelp">
                        <small id="question-decimalsHelp"
                               *ngIf="model.pages[page].elements[question].step % 1 !== 0 && model.pages[page].elements[question].decimals === 0"
                               class="form-text text-danger"
                               i18n>Der Schrittinterval erlaubt Nachkommastellen, Sie müssen zur Anzeige von
                            Nachkommastellen diesen Wert hochstellen.</small>
                    </div>

                    <!-- question-rangeMin -->
                    <div class="form-group">
                        <label for="question-rangeMin"
                               i18n>Startwert der Skala</label>
                        <input type="number"
                               class="form-control"
                               step="1"
                               [(ngModel)]="model.pages[page].elements[question].rangeMin"
                               [class.is-invalid]="model.pages[page].elements[question].rangeMin % 1 !== 0 || model.pages[page].elements[question].rangeMin >= model.pages[page].elements[question].rangeMax"
                               name="question-rangeMin"
                               id="question-rangeMin">
                    </div>

                    <!-- question-rangeMax -->
                    <div class="form-group">
                        <label for="question-rangeMax"
                               i18n>Endwert der Skala</label>
                        <input type="number"
                               class="form-control"
                               step="1"
                               [(ngModel)]="model.pages[page].elements[question].rangeMax"
                               [class.is-invalid]="model.pages[page].elements[question].rangeMax % 1 !== 0 || model.pages[page].elements[question].rangeMin >= model.pages[page].elements[question].rangeMax"
                               name="question-rangeMax"
                               id="question-rangeMax">
                    </div>

                    <!-- question-pipsDensity -->
                    <div class="form-group">
                        <label for="question-pipsDensity"
                               i18n>Anzahl der dargestellten Werte auf der Legende</label>
                        <input type="number"
                               class="form-control"
                               step="1"
                               min="2"
                               max="100"
                               [(ngModel)]="model.pages[page].elements[question].pipsDensity"
                               [class.is-invalid]="model.pages[page].elements[question].pipsDensity % 1 !== 0 || model.pages[page].elements[question].pipsDensity < 2 || model.pages[page].elements[question].pipsDensity > 100"
                               name="question-pipsDensity"
                               id="question-pipsDensity"
                               aria-describedby="question-pipsDensityHelp">
                        <small id="question-pipsDensityHelp"
                               class="form-text text-muted">
                            <span i18n>Ein zu hoher Wert und große Zahlen verursacht Probleme mit der Mobildarstellung.
                                Empfohlener Wert</span>
                            <ng-container
                                          *ngIf="model.pages[page].elements[question].rangeMax - model.pages[page].elements[question].rangeMin > 30">
                                {{ (model.pages[page].elements[question].rangeMax - model.pages[page].elements[question].rangeMin) / 10 + 1 | number:'1.0-0' }}
                            </ng-container>
                            <ng-container
                                          *ngIf="model.pages[page].elements[question].rangeMax - model.pages[page].elements[question].rangeMin > 15 && model.pages[page].elements[question].rangeMax - model.pages[page].elements[question].rangeMin <= 30">
                                {{ (model.pages[page].elements[question].rangeMax - model.pages[page].elements[question].rangeMin) / 10 + 3 | number:'1.0-0' }}
                            </ng-container>
                            <ng-container
                                          *ngIf="model.pages[page].elements[question].rangeMax - model.pages[page].elements[question].rangeMin <= 15">
                                {{ (model.pages[page].elements[question].rangeMax - model.pages[page].elements[question].rangeMin) + 1 | number:'1.0-0' }}
                            </ng-container>
                        </small>
                    </div>
                </div>

                <div *ngIf="model.pages[page].elements[question].type === 'boolean'">
                    <!-- question-labelFalse -->
                    <div class="form-group">
                        <label for="question-labelFalse"
                               i18n>Anzeigetext links</label>
                        <power-forms-editor-localeinput [(locale)]="model.pages[page].elements[question].labelFalse"
                                                        eid="question-labelFalse"
                                                        maxlength="200"></power-forms-editor-localeinput>
                    </div>

                    <!-- question-valueFalse -->
                    <div class="form-group">
                        <label for="question-valueFalse"
                               i18n>Datenwert links</label>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="model.pages[page].elements[question].valueFalse"
                               name="question-valueFalse"
                               id="question-valueFalse">
                    </div>

                    <!-- question-labelTrue -->
                    <div class="form-group">
                        <label for="question-labelTrue"
                               i18n>Anzeigetext rechts</label>
                        <power-forms-editor-localeinput [(locale)]="model.pages[page].elements[question].labelTrue"
                                                        eid="question-labelTrue"
                                                        maxlength="200"></power-forms-editor-localeinput>
                    </div>

                    <!-- question-valueTrue -->
                    <div class="form-group">
                        <label for="question-valueTrue"
                               i18n>Datenwert rechts</label>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="model.pages[page].elements[question].valueTrue"
                               name="question-valueTrue"
                               id="question-valueTrue">
                    </div>
                </div>

                <div *ngIf="model.pages[page].elements[question].type === 'file'">
                    <!-- question-allowMultiple -->
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox"
                               class="custom-control-input"
                               [(ngModel)]="model.pages[page].elements[question].allowMultiple"
                               name="question-allowMultiple"
                               id="question-allowMultiple">
                        <label class="custom-control-label"
                               for="question-allowMultiple"
                               i18n>Mehrere Dateien erlauben</label>
                    </div>

                    <!-- question-acceptedTypes-->
                    <!--<div class="form-group">
                        <label for="form-acceptedTypes"
                               i18n>Erlaubte Dateitypen</label>
                        <select class="custom-select"
                                [(ngModel)]="model.pages[page].elements[question].acceptedTypes"
                                id="form-acceptedTypes"
                                name="form-acceptedTypes">
                            <option value="application/pdf"
                                    i18n>PDF-Dokumente</option>
                            <option value="image/png,image/jpeg,image/gif"
                                    i18n>Bilder</option>
                        </select>
                    </div>-->

                    <!-- question-maxSize -->
                    <div class="form-group">
                        <label for="question-maxSize"
                               i18n>Maximale Dateigröße in Bytes</label>
                        <input type="number"
                               class="form-control"
                               step="1"
                               min="0"
                               max="20971520"
                               [(ngModel)]="model.pages[page].elements[question].maxSize"
                               [class.is-invalid]="model.pages[page].elements[question].maxSize % 1 !== 0 || model.pages[page].elements[question].maxSize < 0 || model.pages[page].elements[question].maxSize > 20971520"
                               name="question-maxSize"
                               id="question-maxSize">
                    </div>
                </div>
            </accordion-group>

            <!-- default value -->
            <accordion-group i18n-heading
                             heading="Standardwert"
                             class="mb-1 mb-lg-3"
                             (isOpenChange)="showDefault = $event">
                <div *ngIf="showDefault">
                    <span i18n>Standardwert</span>
                    <power-forms-editor-value [question]="model.pages[page].elements[question]"
                                              [(value)]="model.pages[page].elements[question].defaultValue">
                    </power-forms-editor-value>

                    <hr>
                    <span i18n>Korrekte Antwort (Quiz)</span>
                    <power-forms-editor-value [question]="model.pages[page].elements[question]"
                                              [(value)]="model.pages[page].elements[question].correctAnswer">
                    </power-forms-editor-value>
                </div>
            </accordion-group>

            <!-- questions -->
            <accordion-group i18n-heading
                             heading="Unterfragen"
                             class="mb-1 mb-lg-3"
                             *ngIf="model.pages[page].elements[question].type !== 'comment' && model.pages[page].elements[question].rows">
                <span i18n>Unterfragen</span>
                <hr>
                <power-forms-editor-answers [model]="model"
                                            [(data)]="model.pages[page].elements[question].rows">
                </power-forms-editor-answers>
                <hr>

                <!-- question-isAllRowRequired -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].isAllRowRequired"
                           name="question-isAllRowRequired"
                           id="question-isAllRowRequired"
                           aria-describedby="question-isAllRowRequiredHelp">
                    <label class="custom-control-label"
                           for="question-isAllRowRequired"
                           i18n>Jede Unterfrage ist Pflichtfeld</label>
                    <small id="question-isAllRowRequiredHelp"
                           class="form-text text-muted"
                           i18n>Diese Option erzwingt, dass jede Unterfrage beantwort werden muss.</small>
                </div>

                <!-- question-hideIfRowsEmpty -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].hideIfRowsEmpty"
                           name="question-hideIfRowsEmpty"
                           id="question-hideIfRowsEmpty"
                           aria-describedby="question-hideIfRowsEmptyHelp">
                    <label class="custom-control-label"
                           for="question-hideIfRowsEmpty"
                           i18n>Unsichtbar ohne sichtbare Fragen</label>
                    <small id="question-hideIfRowsEmptyHelp"
                           class="form-text text-muted"
                           i18n>Sind alle Unterfragen unsichtbar, dann wird die Frage ausgeblendet.</small>
                </div>

                <!-- question-rowsOrder-->
                <div class="form-group">
                    <label for="form-rowsOrder"
                           i18n>Unterfragen Reihenfolge</label>
                    <select class="custom-select"
                            [(ngModel)]="model.pages[page].elements[question].rowsOrder"
                            id="form-rowsOrder"
                            name="form-rowsOrder">
                        <option value="initial"
                                i18n>Wie definiert</option>
                        <option value="random"
                                i18n>Zufällig</option>
                    </select>
                </div>

                <hr>
                <span i18n>Unterfrage Sichtbarkeitsbedingung</span>
                <hr>
                <power-forms-editor-conditions [model]="model"
                                               [(data)]="model.pages[page].elements[question].rowsVisibleIf">
                </power-forms-editor-conditions>
            </accordion-group>

            <!-- answers -->
            <accordion-group i18n-heading
                             heading="Antwortmöglichkeiten"
                             class="mb-1 mb-lg-3"
                             *ngIf="model.pages[page].elements[question].choices">
                <span i18n>Antworten</span>
                <hr>
                <power-forms-editor-answers [model]="model"
                                            [(data)]="model.pages[page].elements[question].choices"
                                            [hasImg]="model.pages[page].elements[question].type === 'imageselector'">
                </power-forms-editor-answers>
                <hr>

                <!-- question-hasOther -->
                <div class="custom-control custom-checkbox mb-3"
                     *ngIf="model.pages[page].elements[question].type !== 'imageselector'">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].hasOther"
                           [disabled]="model.pages[page].elements[question].hasComment"
                           name="question-hasOther"
                           id="question-hasOther"
                           aria-describedby="question-hasOtherHelp">
                    <label class="custom-control-label"
                           for="question-hasOther"
                           i18n>Anderes Eingabefeld aktivieren</label>
                    <small id="question-hasOtherHelp"
                           class="form-text text-muted"
                           i18n>Diese Option ist deaktiviert, wenn das "Kommentar Eingabefeld" aktiviert ist.</small>
                </div>

                <!-- question-otherText -->
                <div class="form-group"
                     *ngIf="model.pages[page].elements[question].hasOther">
                    <label for="question-otherText"
                           i18n>Anderes Eingabefeld Text</label>
                    <power-forms-editor-localeinput [(locale)]="model.pages[page].elements[question].otherText"
                                                    eid="question-otherText"
                                                    maxlength="200"></power-forms-editor-localeinput>
                </div>

                <!-- question-showClearButton -->
                <div class="custom-control custom-checkbox mb-3"
                     *ngIf="model.pages[page].elements[question].type === 'radiogroup'">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].showClearButton"
                           name="question-showClearButton"
                           id="question-showClearButton">
                    <label class="custom-control-label"
                           for="question-showClearButton"
                           i18n>Zeige Knopf um Auswahl rückgängig zu machen</label>
                </div>

                <div *ngIf="model.pages[page].elements[question].type === 'checkbox'">
                    <!-- question-hasSelectAll -->
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox"
                               class="custom-control-input"
                               [(ngModel)]="model.pages[page].elements[question].hasSelectAll"
                               name="question-hasSelectAll"
                               id="question-hasSelectAll">
                        <label class="custom-control-label"
                               for="question-hasSelectAll"
                               i18n>Zeige Knopf um alles auszuwählen</label>
                    </div>

                    <!-- question-hasNone -->
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox"
                               class="custom-control-input"
                               [(ngModel)]="model.pages[page].elements[question].hasNone"
                               name="question-hasNone"
                               id="question-hasNone">
                        <label class="custom-control-label"
                               for="question-hasNone"
                               i18n>Zeige Knopf für nichts trifft zu</label>
                    </div>
                </div>

                <div *ngIf="model.pages[page].elements[question].type === 'imageselector'">
                    <!-- question-multiSelect -->
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox"
                               class="custom-control-input"
                               [(ngModel)]="model.pages[page].elements[question].multiSelect"
                               name="question-multiSelect"
                               id="question-multiSelect">
                        <label class="custom-control-label"
                               for="question-multiSelect"
                               i18n>Mehrfachauswahl erlauben</label>
                    </div>

                    <!-- question-mobiletext -->
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox"
                               class="custom-control-input"
                               [(ngModel)]="model.pages[page].elements[question].mobiletext"
                               name="question-mobiletext"
                               id="question-mobiletext">
                        <label class="custom-control-label"
                               for="question-mobiletext"
                               i18n>Auf Mobilgeräten nur Text anzeigen</label>
                    </div>

                    <!-- question-imageWidth -->
                    <div class="form-group">
                        <label for="question-imageWidth"
                               i18n>Breite in Pixel</label>
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="model.pages[page].elements[question].imageWidth"
                               [class.is-invalid]="model.pages[page].elements[question].imageWidth % 1 !== 0 || model.pages[page].elements[question].imageWidth < 16 || model.pages[page].elements[question].imageWidth > 512"
                               step="1"
                               min="16"
                               max="512"
                               name="question-imageWidth"
                               id="question-imageWidth">
                    </div>

                    <!-- question-imageHeight -->
                    <div class="form-group">
                        <label for="question-imageHeight"
                               i18n>Höhe in Pixel</label>
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="model.pages[page].elements[question].imageHeight"
                               [class.is-invalid]="model.pages[page].elements[question].imageHeight % 1 !== 0 || model.pages[page].elements[question].imageWidth < 16 || model.pages[page].elements[question].imageWidth > 512"
                               step="1"
                               min="16"
                               max="512"
                               name="question-imageHeight"
                               id="question-imageHeight">
                    </div>

                    <!-- question-imageFit-->
                    <div class="form-group">
                        <label for="form-imageFit"
                               i18n>Größenanpassung</label>
                        <select class="custom-select"
                                [(ngModel)]="model.pages[page].elements[question].imageFit"
                                id="form-imageFit"
                                name="form-imageFit">
                            <option value="none"
                                    i18n>Keine Anpassung</option>
                            <option value="contain"
                                    i18n>Verkleinern</option>
                            <option value="cover"
                                    i18n>Abschneiden</option>
                            <option value="fill"
                                    i18n>Füllen</option>
                        </select>
                    </div>
                </div>

                <!-- question-hideIfChoicesEmpty -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="model.pages[page].elements[question].hideIfChoicesEmpty"
                           name="question-hideIfChoicesEmpty"
                           id="question-hideIfChoicesEmpty"
                           aria-describedby="question-hideIfChoicesEmptyHelp">
                    <label class="custom-control-label"
                           for="question-hideIfChoicesEmpty"
                           i18n>Unsichtbar ohne sichtbare Antworten</label>
                    <small id="question-hideIfChoicesEmptyHelp"
                           class="form-text text-muted"
                           i18n>Sind alle Antworten unsichtbar, dann wird die Frage ausgeblendet.</small>
                </div>

                <!-- question-colCount -->
                <div class="form-group">
                    <label for="question-colCount"
                           i18n>Darstellung in Spalten</label>
                    <input type="number"
                           class="form-control"
                           [(ngModel)]="model.pages[page].elements[question].colCount"
                           [class.is-invalid]="model.pages[page].elements[question].colCount % 1 !== 0 || model.pages[page].elements[question].colCount < 0 || model.pages[page].elements[question].colCount > 6"
                           step="1"
                           min="0"
                           max="6"
                           name="question-colCount"
                           id="question-colCount">
                </div>

                <!-- question-choicesOrder-->
                <div class="form-group">
                    <label for="form-choicesOrder"
                           i18n>Antworten Reihenfolge</label>
                    <select class="custom-select"
                            [(ngModel)]="model.pages[page].elements[question].choicesOrder"
                            id="form-choicesOrder"
                            name="form-choicesOrder">
                        <option value="none"
                                i18n>Wie definiert</option>
                        <option value="asc"
                                i18n>Aufsteigend sortiert</option>
                        <option value="desc"
                                i18n>Absteigend sortiert</option>
                        <option value="random"
                                i18n>Zufällig</option>
                    </select>
                </div>

                <hr>
                <span i18n>Generische Sichtbarkeitsbedingung für die Antworten</span>
                <br>
                <small class="text-muted"
                       i18n>Wird für jede Antwort einzeln evaluiert.</small>
                <hr>
                <power-forms-editor-conditions [model]="model"
                                               [(data)]="model.pages[page].elements[question].choicesVisibleIf">
                </power-forms-editor-conditions>
            </accordion-group>

            <!-- answers/matrix -->
            <accordion-group i18n-heading
                             heading="Antwortmöglichkeiten"
                             class="mb-1 mb-lg-3"
                             *ngIf="model.pages[page].elements[question].columns">
                <span i18n>Antworten</span>
                <hr>
                <power-forms-editor-answers [model]="model"
                                            [(data)]="model.pages[page].elements[question].columns">
                </power-forms-editor-answers>

                <hr>
                <span i18n>Antwortbedingungen</span>
                <hr>
                <power-forms-editor-conditions [model]="model"
                                               [(data)]="model.pages[page].elements[question].columnsVisibleIf">
                </power-forms-editor-conditions>
            </accordion-group>

            <!-- conditions -->
            <!-- <accordion-group i18n-heading
                             heading="Bedingungen"
                             class="mb-1 mb-lg-3">
                <span i18n>Sichtbarkeitsbedingung für die Frage</span>
                <hr>
                <power-forms-editor-conditions [model]="model"
                                               [(data)]="model.pages[page].elements[question].visibleIf">
                </power-forms-editor-conditions>

                <hr>
                <span i18n>Aktivierungsbedingung für alle Antworten</span>
                <br>
                <small class="text-muted"
                       i18n>Wird für jede Antwort einzeln evaluiert.</small>
                <hr>
                <power-forms-editor-conditions [model]="model"
                                               [(data)]="model.pages[page].elements[question].enableIf">
                </power-forms-editor-conditions>

                <hr>
                <span i18n>Pflichtbedingung</span>
                <hr>
                <power-forms-editor-conditions [model]="model"
                                               [(data)]="model.pages[page].elements[question].requiredIf">
                </power-forms-editor-conditions>
            </accordion-group> -->

            <!-- validators -->
            <accordion-group i18n-heading
                             heading="Validatoren"
                             class="mb-1 mb-lg-3">
                <span i18n>Validatoren</span>
                <hr>
                <power-forms-editor-validators [model]="model"
                                               [(data)]="model.pages[page].elements[question]">
                </power-forms-editor-validators>
            </accordion-group>
        </accordion>

        <hr>
        <button type="button"
                class="btn btn-success mr-2"
                i18n-title
                title="Änderungen speichern"
                (click)="modal.close()">
            <svg width="1em"
                 height="1em"
                 viewBox="0 0 16 16"
                 class="bi bi-hdd"
                 fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg"
                 focusable="false"
                 aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M14 9H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1zM2 8a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2z" />
                <path d="M5 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                <path fill-rule="evenodd"
                      d="M4.094 4a.5.5 0 0 0-.44.26l-2.47 4.532A1.5 1.5 0 0 0 1 9.51v.99H0v-.99c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1 4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198v.99h-1v-.99a1.5 1.5 0 0 0-.183-.718L12.345 4.26a.5.5 0 0 0-.439-.26H4.094z" />
            </svg>
            <span class="ml-1"
                  i18n>Änderungen speichern</span>
        </button>
    </div>
</power-modal>
