.git/
.gitlab/
.vscode/
chart/
doc/
scripts/
manifest-dev/
manifest-staging/
manifest-production/
power/coverage/
power/documentation/
power/e2e/
power/node_modules/
power/output/
power/src/
power/package-lock.json
README.md
