<div class="card">
  <h5 class="card-header">
    {{feature.properties.brzname}}
    {{feature.properties.wnum}}
  </h5>
  <div class="card-body">
    <dl class="row">
      <dd class="col-md-6">Art der Nutzung</dd>
      <dt class="col-md-6">{{feature.properties.nutzung | nutzung}}</dt>
      <dd class="col-md-6">Bodenrichtwert</dd>
      <dt class="col-md-6">{{feature.properties.brw}} &euro; / m&#178;</dt>
      <span *ngIf="feature.properties.beit">
        <dd class="col-md-6">Beitragsabgabenrechtlicher Zustand</dd>
        <dt class="col-md-6">{{feature.properties.beit | beitrag }}</dt>
      </span>
<!--      <dd class="col-md-6">Umrechnungsfaktoren</dd>-->
<!--      <dt class="col-md-6">{{feature.properties.umrechnungstabellendatei | json}} <br>-->
<!--        {{feature.properties.umrechnungstabellenwerte | json}}</dt>-->
    </dl>
  </div>
</div>
