<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Datenschutz</h1>
      <p>Die Beta Version BORIS.NI enthält Telemedien, also Inhalte im Sinne des § 1 Abs. 1 Telemediengesetz. Hierbei
        wird
        folgender Verfahrensgrundsatz gewährleistet:
      </p>
      <ul>
        <li>Bei jedem Zugriff eines Nutzers auf eine Seite dieser Applikation und bei jedem Abruf einer Datei werden
          Daten über diesen Vorgang in einer Protokolldatei gespeichert. Diese Daten sind nicht personenbezogen; wir
          können also nicht nachvollziehen, welcher Nutzer welche Daten abgerufen hat.Diese Protokolldaten werden für
          zwei Monate gespeichert, sie werden lediglich statistisch ausgewertet.
        </li>
      </ul>
    </div>
  </div>
</div>
