div.title {
    border-bottom: 1px solid #c4153a;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.title h1 {
    margin: 0;
    font-size: 1.25rem;
}

div.subtitle {
    border-bottom: 1px solid #dee2e6;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

div.subtitle h2 {
    margin: auto;
    text-align: center;
    font-size: 1rem;
}

div.alert-gmb {
    margin-top: 1rem;
}
