<main class="container">
    <h1 i18n>Datenschutz im LGLN</h1>
    <p i18n>Das Grundgesetz gewährleistet jeder Bürgerin und jedem Bürger das Recht, über Verwendung und Preisgabe
        seiner persönlichen Daten zu bestimmen. Geschützt werden also nicht Daten, sondern die Freiheit der Menschen,
        selbst zu entscheiden, wer was wann und bei welcher Gelegenheit über sie weiß.</p>
    <p i18n>Das Landesamt für Geoinformation und Landesvermessung Niedersachsen (LGLN) beachtet bei der Verarbeitung von
        personenbezogenen Daten die einschlägigen datenschutzrechtlichen Vorschriften. Die europäische
        Datenschutz-Grundverordnung (DS-GVO) wird bei der Verarbeitung von personenbezogenen Daten seit dem 25. Mai 2018
        berücksichtigt. Im Weiteren werden das Bundesdatenschutzgesetz (BDSG) und das Niedersächsische Datenschutzgesetz
        (NDSG) beachtet.</p>
    <p i18n>Die Verarbeitung personenbezogener Daten im LGLN wird in der nebenstehenden Datenschutzerklärung aufgezeigt.
        Diese gilt für die Internetangebote des LGLN und der Gutachterausschüsse für Grundstückswerte in Niedersachsen
        sowie für die Verarbeitung personenbezogener Daten im hoheitlichen Bereich. So sind in den Nachweisen der
        Vermessungs- und Katasterverwaltung personenbezogene Daten enthalten, deren Herausgabe bei berechtigtem
        Interesse erlaubt ist. Ferner umfasst die Datenschutzerklärung die Verarbeitung personenbezogener Daten im
        Rahmen der Bearbeitung von Kundenaufträgen und –anträgen sowie die Verarbeitung der Daten von Bewerberinnen und
        Bewerbern in Stellenbesetzungsverfahren.</p>
    <p i18n>Wir helfen Ihnen bei Fragen gerne weiter.</p>

    <h2 i18n>Download</h2>
    <ul>
        <li>
            <a href="./assets/legal/20210701_LGLN-Datenschutzerklrung.pdf"
               target="_blank"
               rel="noopener noreferrer nofollow"
               i18n>Datenschutzerklärung LGLN</a>
        </li>
        <li>
            <a href="./assets/legal/20210525_LGLN-Information_Ordnungswidrigkeitenverfahren.pdf"
               target="_blank"
               rel="noopener noreferrer nofollow"
               i18n>Informationspflichten nach § 50 Nds. Datenschutzgesetz im Rahmen von
                Ordnungswidrigkeitenverfahren</a>
        </li>
        <li>
            <a href="./assets/legal/Flyer_Date603f1fd57cdfa.pdf"
               target="_blank"
               rel="noopener noreferrer nofollow"
               i18n>Flyer Datenschutz in der VKV</a>
        </li>
    </ul>

    <h2 i18n>Kontakt</h2>
    <address>
        <table class="table table-responsive borderless">
            <caption class="sr-only"
                     i18n>Kontakt zum Datenschutzbeauftragten</caption>
            <tbody>
                <tr>
                    <th scope="row">
                        <i class="bi bi-building"
                           role="img"
                           i18n-aria-label
                           aria-label="Kontaktperson"></i>
                    </th>
                    <td>
                        <span i18n>Landesamt für Geoinformation und Landesvermessung Niedersachsen (LGLN)</span>
                        <br>
                        <span i18n>Andreas Christ</span>
                        <br>
                        <span i18n>Datenschutzbeauftragter</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="bi bi-geo-alt"
                           role="img"
                           i18n-aria-label
                           aria-label="Adresse"></i>
                    </th>
                    <td>
                        <span i18n>Podbielskistraße 331</span>
                        <br><span i18n>30659 Hannover</span>
                        <br><span i18n>Deutschland</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="bi bi-telephone"
                           role="img"
                           i18n-aria-label
                           aria-label="Telefon"></i>
                    </th>
                    <td>+49 511 64609 113</td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="bi bi-envelope"
                           role="img"
                           i18n-aria-label
                           aria-label="E-Mail"></i>
                    </th>
                    <td>
                        <a href="mailto:lgln-datenschutzbeauftragter@lgln.niedersachsen.de"
                           rel="noopener noreferrer nofollow">lgln-datenschutzbeauftragter@lgln.niedersachsen.de</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </address>
</main>
