<!-- dashboard page -->
<main class="mainpage mt-4" id="content" tabindex="-1">
  <!-- forms list -->
  <div class="card bg-light">
    <div class="card-header h5">
      <i class="fas fa-list fa-fw" aria-hidden="true"></i>
      Formulare
    </div>
    <div class="card-body table-responsive p-0">
      <table class="table table-hover m-0">
        <thead>
        <tr>
          <th scope="col" class="border-top-0 w-75">Titel</th>
          <th scope="col" class="border-top-0">Version</th>
          <th scope="col" class="border-top-0">Datum</th>
          <th scope="col" class="border-top-0"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let form of formsList; index as i">
          <td scope="row">
            <a title="Formular öffnen" [routerLink]="['/editor', form.id]">
              {{ form.title }}
            </a>
          </td>
          <td>{{ form.version }}</td>
          <td>{{ form.created_at | date:'dd.MM.yyyy HH:mm' }}</td>
          <td>
            <button type="button"
                    class="btn btn-success btn-sm"
                    id="button-export"
                    title="Formular exportieren"
                    (click)="exportForm(form.id)">
              <i class="far fa-save fa-fw" aria-hidden="true"></i>
              Export
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <span *ngIf="!formsList.length">Keine Formulare gefunden</span>
    </div>
    <div class="card-footer">
      <button type="button"
              class="btn btn-primary btn-sm"
              id="button-import"
              title="Formular importieren"
              (click)="importForm()">
        <i class="fas fa-upload fa-fw" aria-hidden="true"></i>
        Import
      </button>
    </div>
  </div>
</main>

<!-- alerts component -->
<power-alerts></power-alerts>

<!-- loadingscreen component -->
<power-loadingscreen></power-loadingscreen>
