::ng-deep body {
    overflow-x: hidden;
}

.demo-chart {
    height: 400px;
}

.chart-graph {
    height: 470px;
    margin-top: -80px;
}

.chart-map {
    z-index: 99;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 45px, #fff 45px);
}

ul {
    list-style: none;
}

::ng-deep .accordion .card {
    overflow: visible !important;
}

::ng-deep .btn-link {
    color: #343a40 !important;
    text-align: left;
}

.check {
    width: 1.5rem;
    display: inline-block;
    margin-right: 0.5rem;
    padding-left: 2rem;
}

.row * {
    direction: ltr;
}

.rowrtl {
    direction: rtl;
}

/* vim: set expandtab ts=4 sw=4 sts=4: */
