<div class="row title">
    <h1 i18n>Niedersächsischer Immobilienpreisindex</h1>
</div>
<div class="row mh-100" [ngClass]="{'rowrtl': nipixStatic.layoutRtl === true}">
    <div class="col-sm-8">
        <div echarts [options]="this.nipixRuntime.map.options" [loading]="!mapLoaded" (chartInit)="onChartInit($event)"
             (chartMapSelectChanged)="onMapSelectChange($event)" class="demo-chart chart-map"></div>
        <div echarts [options]="this.nipixRuntime.chart.options" (chartInit)="onChartChartInit($event)"
             (chartDataZoom)="onDataZoom($event)" (chartClick)="chartClicked($event)"
             (chartFinished)="onChartFinished($event)" class="demo-chart chart-graph"></div>
        <div style="text-align: center;" [ngStyle]="{'font-size': nipixStatic.textOptions.fontSizePage+'rem'}"
            i18n aria-hidden="true">HINWEIS: Das Basisjahr der Indexreihenberechnung richtet sich nach der unteren Auswahl und lässt sich mit den Reglern dynamisch anpassen.</div>
    </div>
    <div class="col-sm-4">
        <ngb-accordion [closeOthers]="true" activeIds="static-0" (panelChange)="onPanelChange($event)"
                       #acc="ngbAccordion">

            <ngb-panel *ngFor="let select of nipixStatic.data.selections; let p = index" id="static-{{p}}">
                <ng-template ngbPanelTitle>
                    <i-bs name="plus-circle" *ngIf="staticExpand(p) === false" aria-hidden="true"></i-bs>
                    <i-bs name="dash-circle" *ngIf="staticExpand(p) === true" aria-hidden="true"></i-bs>
                    {{nipixRuntime.translate(select['name'])}}
                </ng-template>
                <ng-template ngbPanelContent>

                    <!-- NiPix Category Selection -->
                    <div ngbDropdown *ngIf="select['type'] === 'single' || select['type'] === 'multiIndex'"
                         class="d-inline-block btn-block ">
                        <button class="btn btn-block shadow-sm bg-white" id="dropdownBasic2-{{p}}" type="button" ngbDropdownToggle>
                            <i-bs name="house-fill"
                                  *ngIf="nipixRuntime.getDrawPreset(select['preset'][0]).nipixCategory === 'gebrauchte Eigenheime'"
                                  aria-hidden="true">
                            </i-bs>
                            <i-bs name="building"
                                  *ngIf="nipixRuntime.getDrawPreset(select['preset'][0]).nipixCategory === 'gebrauchte Eigentumswohnungen'"
                                  aria-hidden="true">
                            </i-bs>
                            {{nipixRuntime.translate(nipixRuntime.getDrawPreset(select['preset'][0]).nipixCategory)}}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2-p" class="dropdown-menu">
                            <button type="button" class="dropdown-item" *ngFor="let f of nipixRuntime.availableNipixCategories"
                                    (click)="onChangeCat(select['preset'], f)">
                                <i-bs name="house-fill"
                                      *ngIf="f === 'gebrauchte Eigenheime'"
                                      aria-hidden="true">
                                </i-bs>
                                <i-bs name="building"
                                      *ngIf="f === 'gebrauchte Eigentumswohnungen'"
                                      aria-hidden="true">
                                </i-bs>
                                {{nipixRuntime.translate(f)}}
                            </button>
                        </div>
                    </div>

                    <!-- MultiSelect -->
                    <div ngbDropdown class="d-inline-block btn-block" style="margin-bottom: 1rem;" *ngIf="select['type'] === 'multiSelect'">
                        <button class="btn btn-block shadow-sm bg-white" id="dropdownVergleich-{{select['name']}}"
                                type="button" ngbDropdownToggle>
                            {{ (select['selected']) }} <ng-container i18n>Vergleiche</ng-container>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownVergleich-select['name']" class="dropdown-menu">
                            <button type="button" class="dropdown-item" *ngFor="let f of select['preset']"
                                    (click)="onSetNumber(select['name'], f)">
                                {{f}} <ng-container i18n>Vergleiche</ng-container>
                            </button>
                        </div>
                    </div>

                    <div *ngIf="select['type'] === 'multiSelect'" style="padding-left: 40px; margin-bottom: 1rem;"
                        i18n>HINWEIS: Eine Auswahl über die Karte ist für die Vergleiche leider nicht möglich.</div>

                    <!-- Select DrawValues-->
                    <ul *ngIf="select['type'] === 'single' || select['type'] === 'multiSelect'">

                        <ng-container *ngIf="select['type'] === 'multiSelect'">
                            <li *ngFor="let f of nipixRuntime.availableNipixCategories; let x = index">
                                <ng-container *ngFor="let itm of select['preset']; let i = index">

                                    <span class="check custom-radio" [style.background-color]="getCustomColor(itm)"
                                          (click)="toggleNipixCategory(itm)"
                                          *ngIf="nipixRuntime.getDrawPreset(itm).show">
                                        <input type="radio" id="npx{{i}}_{{x}}" name="npx{{i}}"
                                               class="custom-control-input"
                                               [checked]="nipixRuntime.getDrawPreset(itm)['nipixCategory'] === f"
                                               (click)="toggleNipixCategory(itm)">
                                        <label class="custom-control-label" for="npx{{i}}_{{x}}"></label>

                                    </span>
                                </ng-container>

                                <span class="dotlabel" style="padding-left: 0.5rem;">
                                    <i-bs name="house-fill"
                                          *ngIf="f === 'gebrauchte Eigenheime'"
                                          aria-hidden="true">
                                    </i-bs>
                                    <i-bs name="building"
                                          *ngIf="f === 'gebrauchte Eigentumswohnungen'"
                                          aria-hidden="true">
                                    </i-bs>
                                    {{nipixRuntime.translate(f)}}
                                </span>
                            </li>
                        </ng-container>

                        <li>
                            <ng-container *ngFor="let itm of select['preset']; let i = index">
                                <ng-container *ngIf="nipixRuntime.getDrawPreset(itm).show">
                                    <span class="check custom-checkbox" [style.background-color]="getCustomColor(itm)"
                                          style="padding-bottom: 0.5rem; padding-top: 0.5rem;">
                                        <input id="{{i}}vall"
                                               [checked]="nipixRuntime.getDrawPreset(itm).values.length > 0"
                                               type="checkbox" class="custom-control-input"
                                               (click)="toggleAllSelect(itm)">
                                        <label for="{{i}}vall" style="margin-bottom: 0;" class="custom-control-label">
                                        </label>
                                    </span>
                                    <span class="dotlabel" style="vertical-align: middle;"
                                        *ngIf="select['type'] === 'single' && nipixRuntime.getDrawPreset(itm).values.length === 0"
                                        i18n>Alles auswählen</span>
                                    <span class="dotlabel" style="vertical-align: middle;"
                                        *ngIf="select['type'] === 'single' && nipixRuntime.getDrawPreset(itm).values.length > 0"
                                        i18n>Auswahl aufheben</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="select['type'] === 'multiSelect'">
                                <span class="dotlabel" style="padding-left: 0.5rem; vertical-align: middle;"
                                    i18n>Alles/Nichts auswählen</span>
                            </ng-container>

                        </li>

                        <li *ngFor="let subitem of nipixStatic.data.allItems">
                            <ng-container *ngFor="let itm of select['preset']; let i = index">

                                <span class="check custom-checkbox" [style.background-color]="getCustomColor(itm)"
                                      *ngIf="nipixRuntime.getDrawPreset(itm).show">
                                    <input id="{{i}}v1{{subitem}}"
                                           [checked]="nipixRuntime.getDrawPreset(itm).values.includes(subitem)"
                                           type="checkbox" class="custom-control-input"
                                           (click)="toggleMapSelect(itm, subitem, select['type'])">
                                    <label for="{{i}}v1{{subitem}}" style="margin-bottom: 0;"
                                           class="custom-control-label"></label>
                                </span>
                            </ng-container>
                            <span class="dot">
                                <span
                                  style="display: inline-block; border-radius: 10px; width: 10px; height: 10px;"
                                  [style.background-color]="nipixRuntime.formatter.getSeriesColor(subitem)"
                                  *ngIf="select['type'] === 'single'"></span>
                            </span>
                            <span class="dotlabel">
                                {{ nipixRuntime.formatter.getSeriesLabel(subitem) }}
                            </span>
                        </li>
                    </ul>

                    <!-- Select DrawShow -->
                    <ul *ngIf="select['type'] === 'multi' || select['type'] === 'multiIndex'">
                        <li *ngFor="let itm of select['preset']">
                            <span class="check custom-checkbox">
                                <input id="{{itm}}" type="checkbox" class="custom-control-input"
                                       [checked]="nipixRuntime.getDrawPreset(itm).show"
                                       (change)="onToggleDrawRoot(itm)">
                                <label for="{{itm}}" class="custom-control-label"></label>
                            </span>
                            <span (click)="onClickDrawRoot(itm)" class="dot">
                                <span
                                    style="display: inline-block; border-radius: 10px; width: 10px; height: 10px;"
                                    [style.background-color]="nipixRuntime.getDrawPreset(itm).colors"></span>
                            </span>
                            <span (click)="onClickDrawRoot(itm)" class="dotlabel">
                                {{ nipixRuntime.translate(itm) }}
                                <i-bs name="house-fill" *ngIf="itm === 'gebrauchte Eigenheime'" aria-hidden="true"></i-bs>
                                <i-bs name="building" *ngIf="itm === 'gebrauchte Eigentumswohnungen'" aria-hidden="true"></i-bs>
                                ({{ nipixRuntime.translate(nipixStatic.data.shortNames[itm]) }})
                            </span>
                        </li>
                    </ul>

                </ng-template>
            </ngb-panel>

        </ngb-accordion>
        <br>
        <!-- SR-Only Content -->

        <!-- Tools -->
        <ngb-accordion [closeOthers]="true" activeIds="" #toolacc="ngbAccordion">


            <!-- Export / Print -->
            <ngb-panel id="static-98">
                <ng-template ngbPanelTitle>
                    <i-bs name="plus-circle" *ngIf="staticToolExpand(98) === false" aria-hidden="true" class="mr-1"></i-bs>
                    <i-bs name="dash-circle" *ngIf="staticToolExpand(98) === true" aria-hidden="true" class="mr-1"></i-bs>
                    <ng-container i18n>Export / Download</ng-container>
                </ng-template>
                <ng-template ngbPanelContent>
                    Karte:
                    <ul>
                        <li>
                            <span class="download" role="link" tabindex="0"
                                (click)="nipixRuntime.export.exportMapAsImage()"
                                (keydown.enter)="nipixRuntime.export.exportMapAsImage()">
                                <i-bs name="file-earmark-image" aria-hidden="true"></i-bs>
                                Export als Bild (png)
                            </span>
                        </li>
                        <li>
                            <span class="download" role="link" tabindex="0"
                                (click)="nipixRuntime.export.exportGeoJSON()"
                                (keydown.enter)="nipixRuntime.export.exportGeoJSON()">
                                <i-bs name="file-earmark-richtext" aria-hidden="true"></i-bs>
                                Export als GeoJSON
                            </span>
                        </li>
                    </ul>
                    Preisentwicklung:
                    <ul>
                        <li>
                            <span class="download" role="link" tabindex="0"
                                (click)="nipixRuntime.export.exportAsImage()"
                                (keydown.enter)="nipixRuntime.export.exportAsImage()">
                                <i-bs name="file-earmark-image" aria-hidden="true"></i-bs>
                                Export als Bild (png)
                            </span>
                        </li>
                        <li>
                            <span class="download" role="link" tabindex="0"
                                (click)="nipixRuntime.export.exportNiPixGeoJson(true)"
                                (keydown.enter)="nipixRuntime.export.exportNiPixGeoJson(true)">
                                <i-bs name="file-earmark-richtext" aria-hidden="true"></i-bs>
                                Export als GeoJSON
                            </span>
                        </li>
                        <li>
                            <span class="download" role="link" tabindex="0"
                                (click)="nipixRuntime.export.exportNiPixGeoJson(false)"
                                (keydown.enter)="nipixRuntime.export.exportNiPixGeoJson(false)">
                                <i-bs name="file-earmark-spreadsheet" aria-hidden="true"></i-bs>
                                Export als CSV
                            </span>
                        </li>
                    </ul>

                </ng-template>

            </ngb-panel>

            <!-- Find Woma-Region -->
            <ngb-panel id="static-99">
                <ng-template ngbPanelTitle>
                    <i-bs name="plus-circle" *ngIf="staticToolExpand(99) === false" aria-hidden="true" class="mr-1"></i-bs>
                    <i-bs name="dash-circle" *ngIf="staticToolExpand(99) === true" aria-hidden="true" class="mr-1"></i-bs>
                    <ng-container i18n>Zu welcher Wohnungsmarktregion gehört meine Gemeinde?</ng-container>
                </ng-template>
                <ng-template ngbPanelContent>
                    <label for="typeahead-focus" i18n>Suchen Sie Ihre Gemeinde</label>:
                    <input
                        id="typeahead-focus"
                        type="text"
                        class="form-control"
                        [(ngModel)]="model"
                        [ngbTypeahead]="search"
                        (focus)="focus$.next($event.target.value)"
                        (click)="click$.next($event.target.value)"
                        #searchWoMaReg="ngbTypeahead">
                        <ng-container *ngIf="regionName(nipixStatic.data.gemeinden[model]) !== ''">
                            <hr>
                            <ng-container i18n>Ihre Wohnungsmarktregion</ng-container>: {{ nipixRuntime.translate(regionName(nipixStatic.data.gemeinden[model])) }}
                        </ng-container>

                </ng-template>
            </ngb-panel>
        </ngb-accordion>

        <div style="text-align: center; margin-top: 1rem;">
            <a href="{{nipixStatic.agnbUrl}}" target="_blank" rel="noreferrer"
                i18n="AGNB">Allgemeinen Geschäfts- und Nutzungsbedingungen (AGNB)</a>
        </div>
    </div>
</div>
<!-- vim: set expandtab ts=4 sw=4 sts=4 :-->
