<div class="container px-1 px-lg-3 pt-2">
    <div class="text-center">
        <h1 class="display-3 m-0"
            i18n>Daten&shy;dienste</h1>

        <p class="lead mb-2"
           i18n>Das LGLN stellt gebührenfreie WMS und WFS Dienste der Bodenrichtwerte in Niedersachsen bereit. Die
            bereitstellung dieser Datendienste erfolgt unter der Datenlizenz Deutschland Namensnennung 2.0.
        </p>
        <a class="btn btn-primary"
           role="button"
           href="https://www.govdata.de/dl-de/by-2-0"
           target="_blank"
           rel="noopener noreferrer nofollow"
           i18n>Mehr über die Lizenz</a>
    </div>

    <hr>

    <div>
        <div class="h4 m-0"
             i18n>Technischer Support</div>

        <table class="table table-responsive borderless">
            <caption class="sr-only"
                     i18n>Support Kontaktinformationen</caption>
            <tbody>
                <tr>
                    <th scope="row">
                        <i class="bi bi-building"
                           role="img"
                           i18n-aria-label
                           aria-label="Ansprechpartner"></i>
                    </th>
                    <td>Landesamt für Geoinformation und Landesvermessung Niedersachsen (LGLN)<br> - Landesbetrieb
                        Landesvermessung und Geobasisinformation
                        <br>Kundenservice - Geodatenmanagement
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="bi bi-geo-alt"
                           role="img"
                           i18n-aria-label
                           aria-label="Adresse"></i>
                    </th>
                    <td>
                        Podbielskistraße 331
                        <br>30659 Hannover
                        <br>Deutschland
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="bi bi-telephone"
                           role="img"
                           i18n-aria-label
                           aria-label="Telefon"></i>
                    </th>
                    <td>+49 511 64609 555</td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="bi bi-envelope"
                           role="img"
                           i18n-aria-label
                           aria-label="E-Mail"></i>
                    </th>
                    <td>
                        <a href="mailto:geodatendienste@lgln.niedersachsen.de">geodatendienste@lgln.niedersachsen.de</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <i class="bi bi-clock"
                           role="img"
                           i18n-aria-label
                           aria-label="Geschäftszeiten"></i>
                    </th>
                    <td>09:00 - 18:00 GMT+1, Mo bis Fr</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
