<div class="container-fluid p-0">
  <nav class="navbar navbar-light navbar-expand-md border-bottom bg-white fixed-top">
    <a class="navbar-brand" href="#" style="color:#343a40">
      <img src="/assets/logos/logo.png" height="20" class="mr-2 align-top">
      <strong class="d-none d-md-inline">
        Portal für Wertermittlung
        <span style="color:#c4153a">.niedersachsen</span>
      </strong>
      <strong class="d-md-none">
        <span>POWER</span>
        <span style="color:#c4153a">.niedersachsen</span>
      </strong>
    </a>
    <button class="navbar-toggler" style="border: none; padding-right: 0;" type="button"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" [class.active]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="z-index: 2000" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">

<!--        <li class="nav-item" *ngFor="let module of modules">
          <a class="nav-link" (click)="isCollapsed=!isCollapsed" routerLink="" routerLinkActive="active">{{module}}</a>
        </li>-->

        <li class="nav-item" *ngIf="config.modules.includes('bodenrichtwerte')">
          <a class="nav-link" (click)="isCollapsed=!isCollapsed" routerLink="/bodenrichtwerte" routerLinkActive="active">Bodenrichtwerte</a>
        </li>
        <li class="nav-item" *ngIf="config.modules.includes('bodenwerte')">
          <a class="nav-link" (click)="isCollapsed=!isCollapsed" routerLink="/bodenwertkalkulator" routerLinkActive="active">Bodenwert-Kalkulator</a>
        </li>
        <li class="nav-item" *ngIf="config.modules.includes('immobilien')">
          <a class="nav-link" (click)="isCollapsed=!isCollapsed" routerLink="/immobilienpreisindex" routerLinkActive="active">Immobilien</a>
        </li>
        <li class="nav-item" ngbDropdown *ngIf="config.modules.includes('fragebogen')">
          <a class="nav-link" ngbDropdownToggle>Formulare</a>
          <div ngbDropdownMenu>
            <a ngbDropdownItem routerLink="/formulare" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Überblick</a>
            <a ngbDropdownItem routerLink="/formulare/dashboard" routerLinkActive="active">Dashboard</a>
            <a ngbDropdownItem routerLink="/formulare/editor" routerLinkActive="active">Editor</a>
            <a ngbDropdownItem routerLink="/formulare/formular" routerLinkActive="active">Ausfüllen</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <div class="container-fluid">
    <footer class="pt-4 my-md-5 pt-md-5 border-top w-100 m-0 overflow-hidden">
      <div class="row justify-content-around">
        <div class="col-md-4 text-center">
          <h5>Informationen</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://www.lgln.niedersachsen.de/startseite/wir_uber_uns_amp_organisation/impressum/impressum-92629.html">Impressum</a></li>
            <li><a class="text-muted" href="https://www.lgln.niedersachsen.de/startseite/wir_uber_uns_amp_organisation/datenschutz/datenschutz-im-lgln-138166.html">Datenschutz</a></li>
            <li><a class="text-muted" href="https://www.lgln.niedersachsen.de/startseite/wir_uber_uns_amp_organisation/allgemeine_geschafts_und_nutzungsbedingungen_agnb/allgemeine-geschafts-und-nutzungsbedingungen-agnb-97401.html">Allgemeine Geschäfts- <br>und Nutzungsbedingungen</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
