.navbar .navbar-brand {
    padding-top: 5px;
}

.navbar-brand:hover {
    text-decoration: underline grey;
}

.navbar-toggler {
    outline: none;
}

.footer-link,
.navbar-nav .nav-item .nav-link {
    color: #121416;
}

.footer-link:hover,
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #c4153a;
}

.navbar-nav .nav-item .nav-link.active {
    color: #c4153a;
}
