<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div id="mapWrapper"
             [class]="isCollapsed ? 'col-12 map-collapsed' : 'col-lg-6 map'">
            <power-bodenrichtwertkarte #map
                                       [(isCollapsed)]="isCollapsed"
                                       [isExpanded]="isExpanded"
                                       [(adresse)]="adresse"
                                       [(features)]="features"
                                       [(stichtag)]="stichtag"
                                       [(teilmarkt)]="teilmarkt"></power-bodenrichtwertkarte>
        </div>
        <div [class]="isCollapsed ? 'col-12' : 'col-lg-6 height-lg'">
            <div class="row">
                <div *ngIf="!adresse && !features"
                     class="text-center border-top col-12 p-0">
                    <h5 class="m-3 mx-center"
                        i18n>Wählen Sie eine Position</h5>
                </div>
                <div *ngIf="!adresse && features && features.features.length"
                     class="text-center border-top col-12 p-0">
                    <button type="button"
                            class="btn btn-collapse border col-12"
                            (click)="isCollapsed = !isCollapsed"
                            [attr.aria-expanded]="!isCollapsed"
                            aria-controls="collapseBasic">{{ features.features[0].properties.brzname}}
                        <img src="{{ isCollapsed ? '/assets/icons/chevron-up.svg' : '/assets/icons/chevron-down.svg'}}"
                             width="25"
                             height="25"
                             alt="Einklappen/ausklappen"
                             i18n-alt>
                    </button>
                </div>
                <div *ngIf="!adresse && features && !features.features.length"
                     class="text-center border-top col-12 p-0">
                    <button type="button"
                            class="btn btn-collapse border col-12"
                            (click)="isCollapsed = !isCollapsed"
                            [attr.aria-expanded]="!isCollapsed"
                            aria-controls="collapseBasic"
                            i18n>Wählen Sie eine Position
                        <img src="{{ isCollapsed ? '/assets/icons/chevron-up.svg' : '/assets/icons/chevron-down.svg'}}"
                             width="25"
                             height="25"
                             alt="Einklappen/ausklappen"
                             i18n-alt>
                    </button>
                </div>
                <button *ngIf="adresse"
                        type="button"
                        class="btn btn-collapse border col-12 p-0"
                        (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseBasic">{{ adresse.properties.text }}
                    <img src="{{ isCollapsed ? '/assets/icons/chevron-up.svg' : '/assets/icons/chevron-down.svg'}}"
                         width="25"
                         height="25"
                         alt="Einklappen/ausklappen"
                         i18n-alt>
                </button>
            </div>
            <div class="row overflow-auto"
                 [class]="isCollapsed ? '' : 'details'">
                <div #collapse
                     id="collapseBasic"
                     class="p-0 col-12"
                     [collapse]="isCollapsed"
                     (expanded)="isExpanded = !isExpanded"
                     [isAnimated]="true">
                    <div class="well well-lg card card-block card-header verlauf">
                        <div class="row p-0"
                             *ngIf="features">
                            <div *ngIf="(!adresse || adresse.properties.bundesland != 'Niedersachsen') && !features.features.length"
                                 class="text-center col-12">
                                <p class="m-3 mx-center lead"
                                   i18n>Keine gültige Adresse!</p>
                                <p class="m-3 mx-center lead"
                                   i18n>Hinweis: </p>
                                <p class="m-3 mx-center"
                                   i18n>Bitte wählen Sie eine gültige Adresse innerhalb
                                    von Niedersachsen aus. Die Genauigkeit des Suchradius für die Adresse beträgt 50
                                    Meter.</p>
                            </div>
                            <div *ngIf="adresse && adresse.properties.bundesland == 'Niedersachsen' && !features.features.length"
                                 class="text-center col-12">
                                <p class="m-3 mx-center"
                                   i18n>Es liegen keine Bodenrichtwertdaten für diese Adresse vor.</p>
                            </div>
                            <div *ngIf="!adresse && features.features.length"
                                 class="text-center col-12">
                                <p class="m-3 mx-center"
                                   i18n>Es liegen Bodenrichtwertdaten für diese Koordinate vor. Jedoch konnte keine
                                    Adresse für diesen Standort gefunden werden.</p>
                                <p class="m-3 mx-center"
                                   i18n>Die Genauigkeit des Suchradius für die Adresse beträgt 50 Meter.</p>
                            </div>
                            <power-bodenrichtwert-liste [stichtag]="stichtag"
                                                        [teilmarkt]="teilmarkt"
                                                        [features]="features">
                            </power-bodenrichtwert-liste>
                        </div>
                        <div class="row p-0"
                             [class.d-none]="!features">
                            <power-bodenrichtwert-verlauf class="col-md-12 p-0"
                                                          [features]="features"></power-bodenrichtwert-verlauf>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
