// following map-height classes are used for mobile
.map-height {
    height: calc(100vh - 143px);
}

.map-height-active-details {
    height: calc(100vh - 290px);
}

a.nav-link:hover {
    color: #c4153a;
    cursor: pointer;
}

.nav-link:hover:enabled {
    color: #c4153a;
    cursor: pointer;
}

.active {
    color: #c4153a !important;
}

@media (min-width: 991px) {
    .details-content-height {
        height: calc(100vh - 160.4px);
    }

    .details-header-height {
        height: 103.4px;
    }

    // following map-height classes are used for desktop
    .map-height {
        height: calc(100vh - 143px);
    }

    .map-height-active-details {
        height: calc(100vh - 103px);
    }

    .collapse-btn-size {
        min-width: 40px;
        max-width: 50px;
        height: calc(100vh - 57px);
    }
}

@media (max-width: 991px) {
    .overflow-auto {
        overflow: unset !important;
    }
}
