.map-height {
        height: calc(100vh - 184.4px);
}


.collapse-btn-width {
    min-width: 30px;
    max-width: 40px;
    height: calc(100vh - 57px);
}

a.nav-link:hover {
    color: #c4153a;
    cursor: pointer;
}

.nav-link:hover:enabled {
    color: #c4153a;
    cursor: pointer;
}

.active {
    color: #c4153a !important;
}

@media(min-width: 991px) {
    .details-content-height {
        height: calc(100vh - 160.4px);
    }
    
    .details-header-height {
        height: 103.4px;
    }

    .map-height {
        height: calc(100vh - 102px);
    }
}

@media(max-width: 991px) {
    .overflow-auto {
            overflow: unset !important;
        }
}