.map {
    height: calc(100vh - 57px);
    padding: 0;
}

small {
    display: inline-block;
}

@media (max-width: 992px) {
    .map {
        height: calc(100vh - 301px);
        padding: 0;
    }

    .verlauf {
        min-height: calc(100vh - 114px);
        min-height: 100% !important;
    }

    .details {
        min-height: calc(100vh - 114px);
        height: 100% !important;
    }

    .overflow-auto {
        overflow: unset !important;
    }

    .height-lg {
        height: 100%;
    }
}

.map-collapsed {
    height: calc(100vh - 114px);
    padding: 0;
}

.verlauf {
    min-height: calc(100vh - 114px);
}

.details {
    height: calc(100vh - 114px);
}

.btn-collapse {
    font-size: large;
    height: 57px;
}

a.nav-link:hover {
    color: #c4153a;
    cursor: pointer;
}

.nav-link:hover:enabled {
    color: #c4153a;
    cursor: pointer;
}

.active {
    color: #c4153a !important;
}
