<!-- tags -->
<div class="form-group">
    <!-- editable = true -->
    <ng-container *ngIf="editable">
        <input type="text"
               attr.list="tagList-{{ eid }}"
               class="form-control"
               [(ngModel)]="tagInput"
               (change)="addTag()"
               (keyup.enter)="addTag()"
               [name]="eid"
               [id]="eid"
               maxlength="50"
               [placeholder]="placeholder">

        <datalist id="tagList-{{ eid }}">
            <option *ngFor="let tag of dataList; index as i"
                    [value]="tag"></option>
        </datalist>
    </ng-container>

    <!-- editable = false -->
    <select *ngIf="!editable"
            class="custom-select"
            [(ngModel)]="tagInput"
            (change)="addTag()"
            (keyup.enter)="addTag()"
            [name]="eid"
            [id]="eid">
        <option value="">{{ placeholder }}</option>
        <option *ngFor="let tag of dataList; index as i"
                [value]="tag">{{ tag }}</option>
    </select>

    <div *ngFor="let tag of tagList; index as i"
         class="d-inline">
        <span class="badge badge-primary mr-1">
            {{ tag }}

            <button type="button"
                    class="close ml-1"
                    i18n-title
                    title="Löschen"
                    (click)="removeTag(i)">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only"
                      i18n>Löschen</span>
            </button>
        </span>
    </div>
</div>
