.mainpage {
    outline: none;
    overflow-x: hidden !important;
}

/* remove blue outline */
[tabindex='-1'] {
    outline: none;
}

/* change cursor for clickable areas */
.clickable {
    cursor: pointer;
}

/* LGLN colors */
.bg-lgln {
    background-color: #d3d3d3 !important;
}

.bg-niedersachsen {
    background-color: #c4153a !important;
}

/* SurveyJS CSS */

/* remove page title list intent */
.nolist ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

/* style formular description */
.formular-description p {
    display: block !important;
    margin: 20px;
}

.hassubtext p {
    display: block !important;
    margin-bottom: 20px;
}

/* disable padding around questions */
.sv_qstn {
    padding: 0 !important;
}

/* matrix: remove word wrap */
th,
td {
    white-space: nowrap;
}

/* LGLN colors */
.imagepicker-checked {
    background-color: #d3d3d3 !important;
}

.sv_main .sv-boolean__switch {
    background-color: #007bff !important;
}

.noUi-connect {
    background: #007bff !important;
}

.sv_q_imagepicker_inline {
    line-height: normal !important;
}

.sv_main .sv_header__text {
    max-width: 100% !important;
}

.sv_q_imgsel_text,
.sv_q_imgsel_text span {
    display: block;
    width: 200px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word !important;
    white-space: normal !important;
}

@media (max-width: 576px) {
    /* single/multiple choices element: one answer per line on mobile */
    .sv_q_select_column {
        max-width: 100% !important;
        min-width: 100% !important;
    }

    /* rating element: hide min/max text on mobile */
    .sv_q_rating_max_text,
    .sv_q_rating_min_text {
        display: none !important;
    }

    .sv_main .sv_row:nth-child(2n) {
        background-color: rgba(0, 0, 0, 0.03) !important;
    }
}

@media (max-width: 767px) {
    .text-rotate-90 span {
        width: auto;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }
}

.sv_custom_header {
    display: none !important;
}

.smooth-dnd-container {
    height: 100% !important;
    min-height: 100% !important;
}

label .custom-control-label::after,
label .custom-control-label::before {
    top: 0.1rem;
}
