<div bsModal #modalformular="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <!-- modal navigation tabs -->
                <ul class="nav nav-tabs modal-header-tabs modal-title border-bottom-0">
                    <li class="nav-item clickable">
                        <a class="nav-link"
                            (click)="SelectTab(0)"
                            title="Allgemeine Formular Einstellungen"
                            [class.active]="tabSelected === 0">
                            Formular
                        </a>
                    </li>
                    <li *ngFor="let page of storage.model.pages; index as i" class="nav-item clickable">
                        <a class="nav-link"
                            (click)="SelectTab(i + 1)"
                            title="Seite {{ i + 1 }} konfigurieren"
                            [attr.data-id]="i"
                            [class.active]="tabSelected === i + 1">
                            Seite {{ i + 1 }}
                        </a>
                    </li>
                </ul>

                <!-- modal close button -->
                <button type="button" class="close" title="Änderungen verwerfen" data-dismiss="modal" aria-label="Änderungen verwerfen" (click)="Close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- modal main tab -->
                <div *ngIf="tabSelected === 0">
                    <form #configformular="ngForm" onsubmit="return false;">
                        <div class="form-group">
                            <label for="configFormularTitle">Formular Titel*</label>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="storage.model.title"
                                [class.is-invalid]="!storage.model.title"
                                id="configFormularTitle"
                                name="configFormularTitle"
                                maxlength="200"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="configFormularDescription">Formular Beschreibung</label>
                            <textarea class="form-control"
                                [(ngModel)]="storage.model.description"
                                id="configFormularDescription"
                                name="configFormularDescription"
                                rows="5"
                                maxlength="5000">
                            </textarea>
                            <small id="configFormularDescriptionHelp" class="form-text text-muted">Dieser Text wird oben auf jeder Seite vom Formular angezeigt.</small>
                        </div>
                        <div class="form-group">
                            <label for="configFormularDescription">Abschlusstext*</label>
                            <textarea class="form-control"
                                [(ngModel)]="storage.model.completedHtml"
                                [class.is-invalid]="!storage.model.completedHtml"
                                id="configFormularEndtext"
                                name="configFormularEndtext"
                                rows="5"
                                maxlength="5000"
                                aria-describedby="configFormularEndtextHelp"
                                required>
                            </textarea>
                            <small id="configFormularEndtextHelp" class="form-text text-muted">Der Text wird nach abschluss des Formulars angezeigt.</small>
                        </div>
                    </form>
                </div>

                <!-- modal pages tabs -->
                <div *ngFor="let page of storage.model.pages; index as i">
                    <form #configpages="ngForm" *ngIf="tabSelected === i + 1" onsubmit="return false;">
                        <!--<div class="form-group">
                            <label for="configPageName">Seiten Kennung</label>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="storage.model.pages[i].name"
                                [class.is-invalid]="!storage.model.pages[i].name"
                                id="configPageName"
                                name="configPageName"
                                maxlength="200"
                                required>
                        </div>-->
                        <div class="form-group">
                            <label for="configPageTitle">Seiten Titel</label>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="storage.model.pages[i].title"
                                id="configPageTitle"
                                name="configFormularTitle"
                                maxlength="200">
                        </div>
                        <div class="form-group">
                            <label for="configPageDescription">Seiten Beschreibung</label>
                            <textarea class="form-control"
                                [(ngModel)]="storage.model.pages[i].description"
                                id="configPageDescription"
                                name="configPageDescription"
                                rows="5"
                                maxlength="5000">
                            </textarea>
                        </div>
                        <div class="form-group row m-0 mb-3">
                            <label for="configPageOrder" class="col-3 col-form-label px-0">Fragenreihenfolge</label>
                            <div class="col-9 p-0">
                                <select class="custom-select"
                                    [(ngModel)]="storage.model.pages[i].questionsOrder"
                                    id="configPageOrder"
                                    name="configPageOrder"
                                    required>
                                    <option value="default">Standard</option>
                                    <option value="random">Zufällig</option>
                                </select>
                            </div>
                        </div>

                        <hr>
                        Sichtbarkeitsbedingung
                        <br>
                        <app-conditions [(data)]="storage.model.pages[i].visibleIf"></app-conditions>
                    </form>
                </div>
            </div>

            <!-- modal buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" title="Änderungen verwerfen" (click)="Close()" data-dismiss="modal">Verwerfen</button>
                <button type="button" class="btn btn-success" title="Änderungen speichern" (click)="Save()">Speichern</button>
            </div>
        </div>
    </div>
</div>
