@import '~bootstrap/scss/bootstrap-grid';

button {
    border: 1px solid lightgray;
    border-radius: 0.75em;
    padding: 5px 0.75rem !important;
    line-height: 1.5 !important;
    font-size: 1rem;
}

button:hover {
    color: #c4153a;
    background-color: lightgray;
}

a:hover {
    color: #c4153a;
    background-color: lightgray;
    border-radius: 0.75em;
}

.dropdown-menu {
    min-width: 90% !important;
}

.no-transition {
    transition: none;
}

.max-width-600 {
    max-width: 600px;
}

.active {
    color: #c4153a !important;
    background: none;
}

.z-index {
    z-index: 1000;
}

.nav-height {
    height: 46px;
}

@media (max-width: 460px) {
    .mobileBtn {
        white-space: normal !important;
        word-wrap: break-word;
        text-align: start;
        width: calc(100vw - 85px);
    }
}

@media (max-width: 991px) {
    .mobileBtn {
        border: none;
    }
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1700px,
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1660px,
);
