<div class="col-md-12 pt-3">
    <ng-container *ngIf="chartOption?.series.length != 0">
        <h3 i18n>Zeitliche Entwicklung</h3>
        <p i18n>Die zeitliche Entwicklungsreihe berücksichtigt nur die Bodenrichtwerte, die zum Stichtag 31.12. des
            jeweiligen
            Jahres ermittelt werden. Sie berücksichtigt keine unterjährigen konjunkturellen Entwicklungen.</p>

        <!-- eChart in table-form for accessibility -->
        <table class="table table-responsive sr-only">
            <caption i18n>Zeitliche Entwicklung Bodenrichtwerte</caption>
            <thead>
                <tr>
                    <th role="columnheader"
                        scope="col"
                        i18n> Nutzungsart </th>
                    <th role="columnheader"
                        scope="col">{{ seriesTemplate[0].stag }}</th>
                    <th role="columnheader"
                        scope="col">{{ seriesTemplate[1].stag }}</th>
                    <th role="columnheader"
                        scope="col">{{ seriesTemplate[2].stag }}</th>
                    <th role="columnheader"
                        scope="col">{{ seriesTemplate[3].stag }}</th>
                    <th role="columnheader"
                        scope="col">{{ seriesTemplate[4].stag }}</th>
                    <th role="columnheader"
                        scope="col">{{ seriesTemplate[5].stag }}</th>
                    <th role="columnheader"
                        scope="col">{{ seriesTemplate[6].stag }}</th>
                    <th role="columnheader"
                        scope="col">{{ seriesTemplate[7].stag }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of srTableData; let i=index">
                    <th role="rowheader"
                        scope="row">{{ srTableHeader[i] }}</th>
                    <td *ngFor="let serie of t.series">{{ serie.brw }}</td>
                </tr>
            </tbody>
        </table>

        <div class="time-series"
             id="time-series"
             (window:resize)="onResizeVerf($event)"
             echarts
             (chartInit)="onChartInit($event)"
             [options]="chartOption"></div>
    </ng-container>

    <ng-container *ngIf="!echartsInstance">
        <div id="eChartInstance"
             echarts
             (chartInit)="onChartInit($event)"
             [options]="chartOption"></div>
    </ng-container>

    <div>
        <p i18n
           *ngIf="chartOption?.series.length >= 2">Für die ausgewählte Koordinate liegen seit dem Jahr 2012 mehrere
            Bodenrichtwertzonen vor. In der zeitlichen Entwicklungsreihe sind alle Zonen für die Zeiträume ihrer
            Gültigkeit dargestellt.</p>
    </div>

</div>
