<div class="p-0">
    <ng-container *ngIf="chartOption?.series.length !== 0">
        <h3 i18n>Zeitliche Entwicklung</h3>
        <ng-container *ngIf="features?.features[0].properties.gema === 'Bremerhaven'; else bremen">
            <p>
                <span i18n>Die Bodenrichtwerte in Bremerhaven werden in einem Zweijahreszyklus festgelegt.
                    Der letzte Stichtag war der</span> {{ getStichtag('BREMERHAVEN') | date }}.
                <span i18n>Die zeitliche Entwicklungsreihe berücksichtigt nur die Bodenrichtwerte, die zu diesem
                    Stichtag ermittelt werden. Sie berücksichtigt keine unterjährigen konjunkturellen
                    Entwicklungen.</span>
            </p>
        </ng-container>
        <ng-template #bremen>
            <ng-container *ngIf="features?.features[0].properties.gabe === 'Gutachterausschuss für Grundstückswerte in Bremen';
                     else niedersachsen">
                <p>
                    <span i18n>Die Bremer Bodenrichtwerte werden in einem Zweijahreszyklus festgelegt.
                        Der letzte Stichtag war der</span> {{ getStichtag('BREMEN') | date }}.
                    <span i18n>Die zeitliche Entwicklungsreihe berücksichtigt nur die Bodenrichtwerte, die zu diesem
                        Stichtag ermittelt werden. Sie berücksichtigt keine unterjährigen konjunkturellen
                        Entwicklungen.</span>
                </p>
            </ng-container>
        </ng-template>
        <ng-template #niedersachsen>
            <p i18n>Die zeitliche Entwicklungsreihe der niedersächsischen Bodenrichtwerte berücksichtigt nur die
                Bodenrichtwerte, die zum Stichtag des jeweiligen Jahres ermittelt werden. Sie berücksichtigt keine
                unterjährigen konjunkturellen Entwicklungen.</p>
        </ng-template>

        <!-- eChart in table-form for accessibility -->
        <table class="table table-responsive sr-only">
            <caption i18n>Zeitliche Entwicklung Bodenrichtwerte</caption>
            <thead>
                <tr>
                    <th scope="col"
                        i18n>Nutzungsart</th>
                    <th scope="col">{{ 2013 }}</th>
                    <th scope="col">{{ 2014 }}</th>
                    <th scope="col">{{ 2015 }}</th>
                    <th scope="col">{{ 2016 }}</th>
                    <th scope="col">{{ 2017 }}</th>
                    <th scope="col">{{ 2018 }}</th>
                    <th scope="col">{{ 2019 }}</th>
                    <th scope="col">{{ 2020 }}</th>
                    <th scope="col">{{ 2021 }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of srTableData; let i=index">
                    <th scope="row">{{ srTableHeader[i] }}</th>
                    <td *ngFor="let serie of t.series">{{ serie.brw }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
        <div class="time-series"
             id="time-series"
             #echartsInst
	     ></div>

    <!--<div id="eChartInstance"
	 class=time-series"
	 #echartsInst></div>-->

    <div>
        <p *ngIf="chartOption?.series.length >= 2"
           i18n>Für die ausgewählte Koordinate liegen seit dem Jahr 2013 mehrere
            Bodenrichtwertzonen vor. In der zeitlichen Entwicklungsreihe sind alle Zonen für die Zeiträume ihrer
            Gültigkeit dargestellt.</p>
    </div>

</div>
