<!-- fillout page -->
<main class="container p-1 p-lg-3"
      id="content"
      tabindex="-1"
      *ngIf="data.form">

    <!-- language -->
    <div class="form-group row w-50"
         *ngIf="wrapper && wrapper.survey.getUsedLocales().length > 1">
        <label class="col-sm-3 col-form-label"
               for="language"
               i18n>Sprache</label>
        <div class="col-sm-9">
            <select class="custom-select text-capitalize"
                    [(ngModel)]="language"
                    (change)="setLanguage()"
                    id="language"
                    name="language">
                <!--<option *ngFor="let lang of languages | keyvalue; index as i"
                        [ngValue]="lang.key">
                    {{ lang.value }}
                </option>-->
                <option *ngFor="let lang of wrapper.survey.getUsedLocales(); index as i"
                        [ngValue]="lang">
                    {{ languages[lang] }}
                </option>
            </select>
        </div>
    </div>

    <power-forms-surveyjs-wrapper *ngIf="data.form.access !== 'public'"
                                  [model]="data.form.content"
                                  [css]="data.css_style"
                                  (submitResult)="submit($event)"
                                  (interimResult)="progress($event)"
                                  (changes)="changed($event)"
                                  #wrapper>
    </power-forms-surveyjs-wrapper>
    <power-forms-surveyjs-wrapper *ngIf="data.form.access === 'public'"
                                  [model]="data.form.content"
                                  [css]="data.css_style"
                                  (submitResult)="submitTask(data.form.id, $event)"
                                  #wrapper>
    </power-forms-surveyjs-wrapper>
</main>
