<div *ngFor="let item of struct; index as i">
    <div class="form-row m-0 mb-2">
        <div class="form-group col-2 m-0 pl-0">
            <label for="conditionCondition{{ i }}{{ uniqId }}"
                   class="sr-only">Verknüpfung*</label>
            <select class="custom-select"
                    [(ngModel)]="item.condition"
                    (change)="modelChanged($event)"
                    [class.is-invalid]="!item.condition && i !== 0"
                    [disabled]="i === 0"
                    id="conditionCondition{{ i }}{{ uniqId }}"
                    name="conditionCondition{{ i }}{{ uniqId }}"
                    required>
                <option value="and">Und</option>
                <option value="or">Oder</option>
            </select>
        </div>

        <div class="form-group col-4 m-0">
            <label for="conditionQuestion{{ i }}{{ uniqId }}"
                   class="sr-only">Formularfeld*</label>
            <select class="custom-select"
                    [(ngModel)]="item.question"
                    (change)="modelChanged($event)"
                    [class.is-invalid]="!item.question"
                    id="conditionQuestion{{ i }}{{ uniqId }}"
                    name="conditionQuestion{{ i }}{{ uniqId }}"
                    required>
                <option value=""
                        disabled>Formularfeld auswählen</option>
                <option *ngFor="let question of questions; index as j"
                        value="{{ question.name }}">
                    {{ question.title }}
                </option>
                <option *ngFor="let variable of model.calculatedValues; index as j"
                        value="{{ variable.name }}">
                    {{ '&#123;' + variable.name + '&#125;' }}
                </option>
            </select>
        </div>

        <div class="form-group col-2 m-0">
            <label for="conditionOperator{{ i }}{{ uniqId }}"
                   class="sr-only">Operator*</label>
            <select class="custom-select"
                    [(ngModel)]="item.operator"
                    (change)="switchValueType($event, i); modelChanged($event)"
                    [class.is-invalid]="!item.operator"
                    id="conditionOperator{{ i }}{{ uniqId }}"
                    name="conditionOperator{{ i }}{{ uniqId }}"
                    required>
                <option value="empty">Leer</option>
                <option value="notempty">Nicht leer</option>
                <option value="contains">Enthält</option>
                <option value="notcontains">Enthält nicht</option>
                <option value="equal">=</option>
                <option value="notequal">&lt;&gt;</option>
                <option value="greater">&gt;</option>
                <option value="less">&lt;</option>
                <option value="greaterorequal">&gt;=</option>
                <option value="lessorequal">&lt;=</option>
                <option value="anyof"
                        *ngIf="item.choices">Enthält mindestens eines</option>
                <option value="allof"
                        *ngIf="item.choices">Enthält alle</option>
            </select>
        </div>

        <div class="form-group col-4 m-0 pr-0"
             *ngIf="!(item.operator === 'empty' || item.operator === 'notempty')">
            <label for="conditionValueA{{ i }}{{ uniqId }}"
                   class="sr-only">Wert oder Variabel %7Be1%7D</label>
            <input type="text"
                   class="form-control"
                   [attr.list]="'conditionlist-' + uniqId"
                   [(ngModel)]="item.value"
                   (change)="modelChanged($event)"
                   *ngIf="!(item.operator === 'anyof' || item.operator === 'allof')"
                   [class.is-invalid]="!item.value"
                   id="conditionValueA{{ i }}{{ uniqId }}"
                   name="conditionValueA{{ i }}{{ uniqId }}"
                   placeholder="Wert oder Variabel {e1}"
                   maxlength="200"
                   required>

            <datalist id="{{ 'conditionlist-' + uniqId }}">
                <option *ngFor="let question of questions; index as j"
                        value="{{ '&#123;' + question.name + '&#125;'  }}">
                    {{ question.title }}
                </option>
                <option *ngFor="let variable of model.calculatedValues; index as j"
                        value="{{ '&#123;' + variable.name + '&#125;' }}"></option>
                <option value="{item}"></option>
                <option value="{pageno}"></option>
                <option value="{pagecount}"></option>
                <option value="{locale}"></option>
                <option value="{correctedanswers}"></option>
                <option value="{incorrectedanswers}"></option>
                <option value="{questioncount}"></option>
            </datalist>

            <select multiple
                    class="custom-select"
                    *ngIf="item.operator === 'anyof' || item.operator === 'allof'"
                    [class.is-invalid]="!item.value"
                    id="conditionValueB{{ i }}{{ uniqId }}"
                    name="conditionValueB{{ i }}{{ uniqId }}"
                    required>
                <option *ngFor="let choice of item.choices; index as j"
                        (click)="selectedItems($event, i, j)"
                        value="{{ choice.value }}"
                        [selected]="item.value.indexOf(choice.value) !== -1">
                    {{ choice.text.default ? choice.text.default : choice.value }}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="mb-2">
    <button type="button"
            class="btn btn-danger btn-sm mr-2"
            title="Bedingung entfernen"
            (click)="ConditionDel()">
        <svg width="1em"
             height="1em"
             viewBox="0 0 16 16"
             class="bi bi-dash align-baseline"
             fill="currentColor"
             xmlns="http://www.w3.org/2000/svg"
             focusable="false"
             aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z" />
        </svg>
        <span class="sr-only">Bedingung entfernen</span>
    </button>
    <button type="button"
            class="btn btn-success btn-sm"
            title="Bedingung hinzufügen"
            (click)="ConditionAdd()">
        <svg width="1em"
             height="1em"
             viewBox="0 0 16 16"
             class="bi bi-plus align-baseline"
             fill="currentColor"
             xmlns="http://www.w3.org/2000/svg"
             focusable="false"
             aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
            <path fill-rule="evenodd"
                  d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
        </svg>
        <span class="sr-only">Bedingung hinzufügen</span>
    </button>
</div>
