<div class="container-xl border-left border-right">

    <div class="row title">
        <h1 i18n>Grundstücksmarktberichte (Archiv)</h1>
    </div>

    <div echarts [options]="mapoptions" [loading]="!mapLoaded" (chartInit)="onChartInit($event)"
         (chartMapSelectChanged)="onMapSelectChange($event)" class="demo-chart chart-map"></div>


    <div *ngFor="let rd of berichte | keyvalue" class="card m-0 mb-2" role="table">
        <div class="card-header">
            <div class="row">
                <h5 class="col-md-5 mb-0"
                    role="rowheader"><b>{{rd.key}}</b>
                </h5>
                <h5 class="col-md-7 mb-0"
                    role="cell"><!--(bis 2012)-->
                </h5>
            </div>
        </div>
        <div class="card-body">
            <dl *ngFor="let bj of rd.value | keyvalue" class="row" role="rowgroup">
                <!-- Bodenrichtwert (brz) -->
                <input type="checkbox" id="dl{{bj.value['checksum']['md5']}}" role="button">
                <dt class="col-md-12" role="rowheader">
                    <label for="dl{{bj.value['checksum']['md5']}}">
                        <i-bs name="plusCircle" class="remove-check"></i-bs>
                        <i-bs name="dashCircle" class="display-check"></i-bs>&nbsp;
                        <ng-container *ngIf="rd.key === 'Niedersachsen'; else gmb" i18n>Landesgrundstücksmarktbericht</ng-container>
                        <ng-template #gmb i18n>Grundstücksmarktbericht</ng-template>
                        {{bj.key}}
                    </label>
                </dt>
                <dd class="col-md-12 fileinfo display-check" role="cell">
                <i-bs name="download"></i-bs> {{bj.value['file']}} (<a href="{{downloadPath}}/{{bj.value['fileurl']}}" i18n>Downlaod</a>)<br>
                    <small>
                        <ng-container i18n>Bereiche</ng-container>: {{bj.value['bereich']}}
                    </small>
                    <br><br>
                    <small>
                        MD5: {{bj.value['checksum']['md5']}}<br>
                        SHA1: {{bj.value['checksum']['sha1']}}<br>
                        SHA256: {{bj.value['checksum']['sha256']}}
                    </small>
                </dd>
            </dl>
        </div>
    </div>

</div>

<!-- vim: set expandtab ts=4 sw=4 sts=4 :-->
