<div class="container-xl">

    <div class="row title">
        <h1 i18n>Grundstücksmarktberichte (Archiv)</h1>
    </div>

    <div echarts [options]="mapOptions" [loading]="!mapLoaded" (chartInit)="onChartInit($event)"
         (chartMapSelectChanged)="onMapSelectChange($event)" class="demo-chart chart-map"></div>


    <div class="row subtitle">
        <h2 *ngIf="selectedKreis === undefined" i18n>Bitte wählen Sie einen Landkreis</h2>
        <h2 *ngIf="selectedKreis !== undefined" i18n>Berichte für den Landkreis "{{kreise[selectedKreis]}}"</h2>
        <select id="landkreise" class="form-select" aria-label="Wählen die einen Landkreis" (change)="onChange($event.target.value)">
            <ng-container *ngFor="let kreis of kreise | keyvalue">
                <option *ngIf="selectedKreis === kreis.key" value="{{ kreis.key }}" selected>{{ kreis.value }}</option>
                <option *ngIf="selectedKreis !== kreis.key" value="{{ kreis.key }}">{{ kreis.value }}</option>

            </ng-container>
        </select>

    </div>

    <div *ngFor="let rd of berichteFiltered" class="card m-0 mb-2" role="table">
        <div class="card-header">
            <div class="row">
                <h5 class="col-md-12 mb-0"
                    role="rowheader"><b>{{rd.name}}</b>
                </h5>
                <!--<h5 class="col-md-7 mb-0"
                    role="cell">(bis 2012)
                </h5>-->
            </div>
        </div>
        <div class="card-body">
            <dl *ngFor="let bj of rd.berichte | keyvalue" class="row" role="rowgroup">
                <div class="col-md-12">
                    <!-- Bodenrichtwert (brz) -->
                    <input type="checkbox" id="dl{{bj.value['checksum']['md5']}}">
                    <dt class="col-md-12" role="rowheader">
                    <label for="dl{{bj.value['checksum']['md5']}}">
                        <i-bs name="plusCircle" class="remove-check" aria-hidden="true"></i-bs>
                        <i-bs name="dashCircle" class="display-check" aria-hidden="true"></i-bs>&nbsp;
                        <ng-container *ngIf="rd.name === 'Niedersachsen'; else gmb" i18n>Landesgrundstücksmarktbericht</ng-container>
                        <ng-template #gmb i18n>Grundstücksmarktbericht</ng-template>
                        {{bj.key}}
                    </label>
                    </dt>
                    <dd class="col-md-12 fileinfo display-check" role="cell">
                    <i-bs name="download" aria-hidden="true"></i-bs> {{bj.value['file']}} (<a href="{{downloadPath}}/{{bj.value['fileurl']}}" i18n>Downlaod</a>)<br>
                    <small>
                        <ng-container i18n>Bereiche</ng-container>: {{generateKreisliste(bj.value['bereich'])}}
                    </small>
                    <br><br>
                    <small>
                        MD5: {{bj.value['checksum']['md5']}}<br>
                        SHA1: {{bj.value['checksum']['sha1']}}<br>
                        SHA256: {{bj.value['checksum']['sha256']}}
                    </small>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <br>
    <br>

    <small i18n>
        * Die dargestellten Landkreise stellen den Gebietsstand vom 01.01.2020 dar.<br>
        Es können Abweichungen zu den Ständen der Grundstücksmarktberichte vorhanden sein.
    </small>
</div>

<!-- vim: set expandtab ts=4 sw=4 sts=4 :-->
