<div class="container-xl">

    <div class="row title justify-content-center m-0 p-2 p-lg-3 text-center">
        <h1 *ngIf="mode === 'gmb'"
            i18n>Grund&shy;stücks&shy;markt&shy;berichte</h1>
        <h1 *ngIf="mode === 'lmb'"
            i18n>Landes&shy;grund&shy;stücks&shy;markt&shy;berichte</h1>
    </div>

    <div *ngIf="mode === 'gmb'"
         class="alert alert-info alert-gmb"
         role="alert">
        <span i18n>Ein Archiv der Landes&shy;grund&shy;stücks&shy;markt&shy;berichte finden sie</span>&nbsp;<a
           [routerLink]="['/landesgrundstuecksmarktberichte']"
           i18n>hier</a>.
    </div>

    <div *ngIf="mode === 'lmb'"
         class="alert alert-info alert-gmb"
         role="alert">
        <span i18n>Die Grund&shy;stücks&shy;markt&shy;berichte finden sie</span>&nbsp;<a
           [routerLink]="['/grundstuecksmarktberichte']"
           i18n>hier</a>.
    </div>

    <div *ngIf="isBrowser && mode === 'gmb'"
         echarts
         [options]="mapOptions"
         [loading]="!mapLoaded"
         (chartInit)="onChartInit($event)"
         (chartMapSelectChanged)="onMapSelectChange($event)"
         class="demo-chart chart-map"></div>


    <div *ngIf="mode === 'gmb'"
         class="row subtitle">
        <h2 *ngIf="selectedKreis === undefined"
            i18n>Bitte wählen Sie einen Landkreis</h2>
        <h2 *ngIf="selectedKreis !== undefined">
            <span i18n>Berichte für den Landkreis</span> "{{kreise[selectedKreis]}}"
        </h2>
        <div class="col-md-12 dropdown">
            <select id="landkreise"
                    class="form-select"
                    i18n-aria-label
                    aria-label="Wählen die einen Landkreis"
                    (change)="onChange($event.target.value)">
                <ng-container *ngFor="let kreis of selectMenu()">
                    <option *ngIf="selectedKreis === kreis.key"
                            value="{{ kreis.key }}"
                            selected>{{ kreis.value }}</option>
                    <option *ngIf="selectedKreis !== kreis.key"
                            value="{{ kreis.key }}">{{ kreis.value }}</option>

                </ng-container>
            </select>
        </div>

    </div>

    <br *ngIf="mode === 'lmb'">

    <div *ngFor="let rd of berichteFiltered"
         class="card m-0 mb-2"
         role="table">
        <div class="card-header"
             role="rowgroup">
            <div class="row"
                 role="row">
                <h5 class="col-md-12 mb-0"
                    role="columnheader">
                    <b *ngIf="rd.name !== 'Niedersachsen'"
                       class="mr-1"
                       i18n>Gutachterausschuss</b>
                    <strong>{{rd.name}}</strong>
                </h5>
            </div>
        </div>
        <div class="card-body"
             role="rowgroup">
            <dl *ngFor="let bj of rd.berichte"
                class="row"
                role="row">
                <div class="col-md-12 p-0">
                    <!-- Bodenrichtwert (brz) -->
                    <input type="checkbox"
                           [checked]="berichteOpened.indexOf(bj.value['file'].split('.')[0]) !== -1"
                           (change)="checkValue($event)"
                           id="dl{{bj.value['file'].split('.')[0]}}"
                           (keypress)="keyPress($event)">
                    <dt class="col-md-12"
                        role="rowheader">
                        <label class="tab"
                               for="dl{{bj.value['file'].split('.')[0]}}"
                               [attr.aria-label]="ariaLabelBericht(bj.key, rd.name)">
                            <span>
                                <i class="bi bi-plus-circle remove-check"
                                   aria-hidden="true"></i>
                                <i class="bi bi-dash-circle display-check"
                                   aria-hidden="true"></i>
                            </span>
                            <span>
                                <ng-container *ngIf="rd.name === 'Niedersachsen'; else gmb"
                                              i18n>Landes&shy;grund&shy;stücks&shy;markt&shy;bericht</ng-container>
                                <ng-template #gmb
                                             i18n>Grund&shy;stücks&shy;markt&shy;bericht</ng-template>
                                {{bj.key}}
                            </span>
                        </label>
                    </dt>
                    <dd class="col-md-12 p-0 fileinfo display-check"
                        role="cell">
                        <div class="dl">
                            <span class="tc">
                                <i class="bi bi-download"
                                   aria-hidden="true"></i>
                            </span>
                            <span class="tc">
                                {{bj.value['file']}} (<a href="{{downloadPath}}/{{bj.value['fileurl']}}"
                                   target="_blank"
                                   rel="noopener"
                                   [attr.aria-label]="ariaLabelBericht(bj.key, rd.name, true)"
                                   i18n>Download</a>)
                            </span>
                        </div>
                        <div class="dl">
                            <small class="tc">
                                <ng-container i18n>Bereiche</ng-container>: {{generateKreisliste(bj.value['bereich'])}}
                            </small>
                        </div>
                        <br>
                        <div class="checksum">
                            <div>MD5: {{bj.value['checksum']['md5']}}</div>
                            <div>SHA1: {{bj.value['checksum']['sha1']}}</div>
                            <div>SHA256: {{bj.value['checksum']['sha256']}}</div>
                        </div>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div *ngIf="mode === 'gmb'"
         class="my-5">
        <div class="h5">Landkreise</div>
        <span *ngFor="let kreis of selectMenu() | slice:1; let i = index">
            <a class="p-2 d-inline-block"
               [routerLink]="['/grundstuecksmarktberichte']"
               [queryParams]="{landkreis: kreis.value}">{{ kreis.value }}</a>
        </span>
    </div>

    <small *ngIf="mode === 'gmb'"
           i18n>* Die dargestellten Landkreise stellen den Gebietsstand vom 01.01.2020 dar. Es können Abweichungen zu
        den Ständen der Grundstücksmarktberichte vorhanden sein.</small>
</div>

<!-- vim: set expandtab ts=4 sw=4 sts=4 :-->
