<div class="p-4 text-center">
  <h2>Rückmeldung geben</h2>
  <p class="lead">Sie haben ein Problem? Oder wollen einen Vorschlag machen?</p>
  <p class="lead">Bitte formulieren Sie ihr Anliegen so exakt wie möglich:</p>
  <ul>
    <li>Genaue Beschreibung des Fehlers bzw. Vorschlags</li>
    <li>Bei Fehlern: Welche Schritte haben den Fehler ausgelöst?</li>
    <li>Bei Fehlern: URL (Adresszeile im Browser)</li>
    <li>Bei Fehlern: Bildschirmfoto (wenn möglich)</li>
    <li>Bei Fehlern: Versionsnummer (siehe Fußzeile)</li>
  </ul>
  <p class="lead">Dieser Button öffnet Ihr E-Mail-Programm:</p>
  <a type="button"
     class="btn btn-primary"
     href="mailto:incoming++lgln-power-ni-power-frontend-17688796-issue-@@incoming..gitlab.com">
    Rückmeldung geben
  </a>
  <br><br>
  <p>Der Empfänger ist bereits ausgefüllt.</p>
  <p>Falls sich Ihr E-Mail-Programm nicht öffnet, senden Sie die E-Mail bitte an:</p>
  <pre id="mail">incoming++lgln-power-ni-power-frontend-17688796-issue-@@incoming.gitlab.com</pre>
</div>
