<!-- footer container -->
<footer id="pagefooter" class="container text-muted" [class.position-fixed]="loadingscreen.isVisible">
    <div class="row">
        <!-- copyright LGLN -->
        <div class="col-12 col-sm-6 textpos">
            Copyright &copy; 2020 by
            <a href="https://www.lgln.niedersachsen.de/startseite/"
                title="LGLN Webseite"
                target="_blank"
                rel="nofollow">
                LGLN
            </a>
        </div>

        <!-- imprint and privacy policy -->
        <div class="col-12 col-sm-6 textpos text-right">
            <a href="https://www.lgln.niedersachsen.de/startseite/wir_uber_uns_amp_organisation/datenschutz/datenschutz-im-lgln-138166.html"
                title="Datenschutz"
                target="_blank"
                rel="nofollow">
                Datenschutz
            </a>
            |
            <a href="https://www.lgln.niedersachsen.de/startseite/wir_uber_uns_amp_organisation/impressum/impressum-92629.html"
                title="Impressum"
                target="_blank"
                rel="nofollow">
                Impressum
            </a>
        </div>
    </div>
</footer>
