<!-- element preview -->
<div *ngIf="question">
    <power-forms-surveyjs-wrapper [model]="question | preview"
                                  [css]="css_style"
                                  [showInvisible]="true"
                                  [data]="data"
                                  (changes)="updateValue($event)">
    </power-forms-surveyjs-wrapper>

    <button type="button"
            class="btn btn-primary btn-sm mt-1"
            i18n-title
            title="Zurücksetzen"
            (click)="resetValue()"
            i18n>Zurücksetzen</button>
</div>
