/*!* You can add global styles to this file, and also import other style files *!*/
$primary: #006aff;
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~nouislider/distribute/nouislider.css';
@import '~survey-angular/survey.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import 'app/fragebogen/fragebogen.scss';

@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file + '.TTF') format('truetype');
    }
}

@include font('Frutiger', '/assets/fonts/FTR____');

html,
body {
    height: 100%;
    // Frutiger Schrift wie im Corporate Design?
    // font-family: 'Frutiger', 'arial';
    // font-weight: 400;
    // font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

$font-family-sans-serif: // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for macOS (San Francisco)
    BlinkMacSystemFont,
    // Windows
    'Segoe UI',
    // Android
    'Roboto',
    // Basic web fallback
    'Helvetica Neue',
    Arial, sans-serif,
    // Emoji fonts
    'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol' !default;

a:not([href]),
a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

.bi {
    vertical-align: -0.1em;
    margin-bottom: calc(-0.125em / 2);
}

// Make icons slightly larger (aesthetically) in input group prepend/append
.input-group {
    .input-group-text {
        .bi {
            transform: scale(1.1);
        }
    }
}

// Make icons slightly larger (aesthetically) in buttons and dropdowns
.btn,
.dropdown {
    .bi {
        transform: scale(1.1);
        // reset the bottom margin from above
        margin-bottom: 0;
    }
}
