<power-modalmini #advancedSearchModal
                 (closing)="onClose()">
    <tabset>
        <tab *ngIf="flurstueckSearchActive"
             heading="Flurstück">
            <power-flurstueck-search #flurstueckForm
                                     (closing)="closing()"
                                     (flurstueckChange)="onFlurstueckChange($event)">
            </power-flurstueck-search>
        </tab>
        <tab *ngIf="bodenrichtwertSearchActive"
             heading="Bodenrichtwertnummer">
            <power-bodenrichwertnummer-search #bodenrichtwertForm
                                              [stichtag]="stichtag"
                                              [teilmarkt]="teilmarkt"
                                              (closing)="closing()"
                                              (bodenrichwertChange)="onBodenrichtwertChange($event)">
            </power-bodenrichwertnummer-search>
        </tab>
    </tabset>
</power-modalmini>
