.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

mgl-map {
    height: 100%;
    width: 100%;
}

.map {
    height: calc(100vh - 57px);
    padding: 0;
}

.map-collapsed {
    height: calc(100vh - 106px);
    padding: 0;
}

.selection {
    height: calc(100vh - 101px);
}

.btn-collapse {
    font-size: large;
    height: 2.75rem;
}

@media (max-width: 992px) {
    .map {
        height: calc(100vh - 301px);
        padding: 0;
    }

    .overflow-auto {
        overflow: unset !important;
    }

    .selection {
        min-height: calc(100vh - 101px);
        height: 100% !important;
    }

    .height-lg {
        height: 100%;
    }
}

.nav-scroller {
    width: 100%;
    z-index: 1000;
    height: 2.75rem;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    color: black;
}

.nav-underline .nav-link:hover {
    color: #c4153a;
    cursor: pointer;
}

.active {
    color: #c4153a !important;
    background-color: transparent !important;
}

.nav-underline .active {
    font-weight: 500;
    color: #c4153a;
}

.dropdown-menu {
    min-width: 100% !important;
}

:host ::ng-deep .card-header {
    background-color: white !important;
}

a.nav-link img {
    font-size: 25px;
    vertical-align: middle;
}

.corner-ribbon {
    z-index: 100;
    width: 200px;
    background: #c4153a;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky {
    position: fixed;
}

.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.corner-ribbon.top-left {
    top: 80px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}