<button type="button"
        class="btn btn-sm btn-link pl-0 pb-4"
        i18n-title
        title="Hilfe zur Formatierung"
        (click)="formattinghelpmodal.open(title)"
        i18n>Hilfe zur Formatierung</button>
<br>

<power-modalmini #formattinghelpmodal>
    <p>
        <span i18n>Für die Formatierung und Gliederung von Texten wird "Markdown" verwendet. Eine Einführung finden Sie
            unter:</span>
        <a href="https://en.wikipedia.org/wiki/Markdown"
           target="_blank"
           rel="noopener noreferrer nofollow"> Wikipedia</a>
    </p>

    <p>
        <span i18n>Es ist eine Auszeichnungssprache und ist im Internet im technischen Umfeld verbreitet. Lesen Sie
            weitere Details unter der folgenden Seite:</span>
        <a href="https://daringfireball.net/projects/markdown/syntax"
           target="_blank"
           rel="noopener noreferrer nofollow">
            https://daringfireball.net/projects/markdown/syntax</a>
    </p>

    <div class="h4"
         i18n>Hilfe zur Formatierung</div>
    <table class="table table-striped table-bordered .table-responsive">
        <thead>
            <tr>
                <th scope="col"
                    i18n>Formatierung</th>
                <th scope="col"
                    i18n>Befehl</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><em i18n>kursiv</em></td>
                <td>*text*</td>
            </tr>
            <tr>
                <td><strong i18n>fett</strong></td>
                <td>**text**</td>
            </tr>
            <tr>
                <td><strong><em i18n>kursiv und fett</em></strong></td>
                <td>***text***</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li i18n>Einfache Liste</li>
                        <li i18n>Einfache Liste</li>
                    </ul>
                </td>
                <td>* text<br>
                    * text
                </td>
            </tr>
            <tr>
                <td>
                    <ol>
                        <li i18n>Nummerierte Liste</li>
                        <li i18n>Nummerierte Liste</li>
                    </ol>
                </td>
                <td>
                    1. text<br>
                    2. text
                </td>
            </tr>
            <tr>
                <td>
                    <h1 i18n>Überschrift Ebene 1</h1>
                </td>
                <td># text</td>
            </tr>
            <tr>
                <td>
                    <h2 i18n>Überschrift Ebene 2</h2>
                </td>
                <td>## text</td>
            </tr>
            <tr>
                <td>
                    <h3 i18n>Überschrift Ebene 3</h3>
                </td>
                <td>### text</td>
            </tr>
            <tr>
                <td>
                    <h4 i18n>Überschrift Ebene 4</h4>
                </td>
                <td>#### text</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Markdown"
                       rel="noopener noreferrer nofollow">Link</a></td>
                <td>[Link](https://en.wikipedia.org/wiki/Markdown)</td>
            </tr>
            <tr>
                <td><span i18n>Bild einbinden</span>
                    <img i18n-title
                         i18n-alt
                         src="/assets/logos/logo.png"
                         alt="Logo"
                         title="Logo LGLN"
                         height="25px">
                </td>
                <td>![Logo](/assets/logos/logo.png "Logo LGLN")</td>
            </tr>
            <tr>
                <td i18n>Formatierung verhindern, z.B. "*text"</td>
                <td>\*text</td>
            </tr>
        </tbody>
    </table>
</power-modalmini>
