<power-modal #formattinghelpmodal>
    <p>
        <label i18n>
            Für die Formatierung und Gliederung von Texten verwenden wir Markdown.
            Eine Einführung finden sie auf:
        </label>
        <a href="https://en.wikipedia.org/wiki/Markdown"> Wikipedia</a>
    </p>

    <p>
        <label i18n>
            Es ist eine Auszeichnungssprache und ist im Internet im technischen Umfeld verbreitet.
            Weitere Details findet sind unter der folgenden Seite zu finden:
        </label>
        <a href="https://daringfireball.net/projects/markdown/syntax">
            https://daringfireball.net/projects/markdown/syntax</a>
    </p>

    <h4>Formatierungshilfe</h4>
    <table>
        <tr>
            <td><i><label i18n>kursiv</label></i></td>
            <td><label>*text*</label></td>
        </tr>
        <tr>
            <td><b><label i18n>kursiv</label></b></td>
            <td><label>**text**</label></td>
        </tr>
        <tr>
            <td><b><i><label i18n>kursiv und fett</label></i></b></td>
            <td><label>***text***</label></td>
        </tr>
        <tr>
            <td><ul>
                <li><label i18n>Ungeordnete Liste</label></li>
                <li><label i18n>Ungeordnete Liste</label></li>
            </ul></td>
            <td><label>* text</label><br>
                <label>* text</label></td>
        </tr>
        <tr>
            <td><ol>
                <li><label i18n>Ungeordnete Liste</label></li>
                <li><label i18n>Ungeordnete Liste</label></li>
            </ol></td>
            <td><label>* text</label><br>
                <label>* text</label>
            </td>
        </tr>
        <tr>
            <td><h1><label i18n>Überschrift Ebene 1</label></h1></td>
            <td><label># text</label></td>
        </tr>
        <tr>
            <td><h2><label i18n>Überschrift Ebene 2</label></h2></td>
            <td><label>## text</label></td>
        </tr>
        <tr>
            <td><h3><label i18n>Überschrift Ebene 3</label></h3></td>
            <td><label>### text</label></td>
        </tr>
        <tr>
            <td><h4><label i18n>Überschrift Ebene 4</label></h4></td>
            <td><label>#### text</label></td>
        </tr>
        <tr>
            <td><label><a href="https://en.wikipedia.org/wiki/Markdown">Link</a></label></td>
            <td><label>[Link](https://en.wikipedia.org/wiki/Markdown)</label></td>
        </tr>
        <tr>
            <td><label i18n>Formatierung verhindern, z.B. *text</label></td>
            <td><label>\*text</label></td>
        </tr>
    </table>
    <label i18n>

    </label>
</power-modal>
