<div bsModal #modalelement="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" *ngIf="storage.selectedElementID !== null">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <!-- modal navigation -->
                <ul class="nav nav-tabs modal-header-tabs modal-title border-bottom-0">
                    <li class="nav-item clickable">
                        <a class="nav-link"
                            (click)="SelectTab(0)"
                            title="Allgemeine Element Einstellungen"
                            [class.active]="tabSelected === 0">
                            Allgemein
                        </a>
                    </li>
                    <li class="nav-item clickable" *ngIf="ceHasAnswers.indexOf(storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type) > -1">
                        <a class="nav-link"
                            (click)="SelectTab(1)"
                            title="Antworten"
                            [class.active]="tabSelected === 1">
                            Antworten
                        </a>
                    </li>
                    <li class="nav-item clickable" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'matrix'">
                        <a class="nav-link"
                            (click)="SelectTab(2)"
                            title="Unterfragen"
                            [class.active]="tabSelected === 2">
                            Tabelle
                        </a>
                    </li>
                    <li class="nav-item clickable">
                        <a class="nav-link"
                            (click)="SelectTab(3)"
                            title="Bedingungen"
                            [class.active]="tabSelected === 3">
                            Bedingungen
                        </a>
                    </li>
                    <li class="nav-item clickable" *ngIf="ceHasValidators.indexOf(storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type) > -1">
                        <a class="nav-link"
                            (click)="SelectTab(4)"
                            title="Validatoren"
                            [class.active]="tabSelected === 4">
                            Validatoren
                        </a>
                    </li>
                </ul>

                <!-- modal close button -->
                <button type="button" class="close" title="Änderungen verwerfen" data-dismiss="modal" aria-label="Änderungen verwerfen" (click)="Close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- modal main tab -->
                <div *ngIf="tabSelected === 0">
                    <form #configFormular="ngForm" onsubmit="return false;">
                        <!--<div class="form-group">
                            <label for="configElementName">Element Kennung</label>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].name"
                                id="configElementName"
                                name="configElementName"
                                [class.is-invalid]="!storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].name"
                                maxlength="200"
                                required>
                        </div>-->
                        <div class="form-group">
                            <label for="configElementTitle">Element Titel*</label>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].title"
                                [class.is-invalid]="!storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].title"
                                id="configElementTitle"
                                name="configElementTitle"
                                maxlength="200"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="configElementDescription">Element Beschreibung</label>
                            <textarea class="form-control"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].description"
                                id="configElementDescription"
                                name="configElementDescription"
                                rows="5"
                                maxlength="5000">
                            </textarea>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox"
                                class="custom-control-input"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].isRequired"
                                id="configElementRequired"
                                name="configElementRequired">
                            <label class="custom-control-label" for="configElementRequired">Pflichtfeld</label>
                        </div>

                        <!-- answer order -->
                        <div class="form-group row m-0 mb-3">
                            <label for="configElementDatabase" class="col-12 col-lg-3 col-form-label px-0">Datenbankverknüpfung</label>
                            <div class="col-12 col-md-9 p-0">
                                <select class="custom-select"
                                    [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].valueName"
                                    id="configElementDatabase"
                                    name="configElementDatabase"
                                    required>
                                    <option value="">Kein automatisches Importieren</option>
                                    <option *ngFor="let field of storage.DatabaseMap; index as i"
                                        value="{{ field.name }}">
                                        {{ field.text }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- text: select input type -->
                        <div class="form-group row m-0 mb-3" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'text'">
                            <label class="col-12 col-lg-3 col-form-label px-0" for="configElementInputType">Eingabe Typ*</label>
                            <div class="col-12 col-lg-9 p-0">
                                <select class="form-control"
                                    [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].inputType"
                                    id="configElementInputType"
                                    name="configElementInputType"
                                    required>
                                    <option value="text">Text</option>
                                    <option value="number">Nummer (Ganzzahl)</option>
                                    <option value="month">Monat und Jahr</option>
                                    <option value="date">Datum</option>
                                    <option value="time">Uhrzeit</option>
                                    <option value="datetime-local">Datum und Uhrzeit</option>
                                    <option value="email">E-Mail</option>
                                    <option value="url">URL</option>
                                    <option value="color">Farbe</option>
                                </select>
                            </div>
                        </div>

                        <!-- text/comment: set placeholder -->
                        <div class="form-group row m-0 mb-3" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'text' || storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'comment'">
                            <label class="col-12 col-lg-3 col-form-label px-0" for="configElementPlaceholder">Platzhalter</label>
                            <div class="col-12 col-lg-9 p-0">
                                <input type="text"
                                    class="form-control"
                                    [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].placeHolder"
                                    id="configElementPlaceholder"
                                    name="configElementPlaceholder"
                                    maxlength="200">
                            </div>
                        </div>

                        <!-- comment: set number of rows -->
                        <div class="form-group row m-0 mb-3" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'comment'">
                            <label class="col-12 col-lg-3 col-form-label px-0" for="configElementRows">Länge in Zeilen*</label>
                            <div class="col-12 col-lg-9 p-0">
                                <input type="number"
                                    class="form-control"
                                    [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rows"
                                    [class.is-invalid]="!storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rows || storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rows < 1"
                                    id="configElementRows"
                                    name="configElementRows"
                                    min="1"
                                    max="20"
                                    required>
                            </div>
                        </div>

                        <!-- radiogroup/checkbox/imagepicker: set number of columns -->
                        <div class="form-group row m-0 mb-3" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'radiogroup' || storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'checkbox' || storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'imagepicker'">
                            <label class="col-12 col-lg-3 col-form-label px-0" for="configElementCols">Anzahl Spalten*</label>
                            <div class="col-12 col-lg-9 p-0">
                                <input type="number"
                                    class="form-control"
                                    [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].colCount"
                                    [class.is-invalid]="!storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].colCount && storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].colCount !== 0 || storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].colCount < 0"
                                    id="configElementCols"
                                    name="configElementCols"
                                    min="0"
                                    max="5"
                                    required>
                            </div>
                        </div>

                        <!-- rating -->
                        <div *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'rating'">
                            <div class="form-group row m-0 mb-3">
                                <label class="col-12 col-lg-3 col-form-label px-0" for="configElementMinRateDesc">Minimum Text</label>
                                <div class="col-12 col-lg-9 p-0">
                                    <input type="text"
                                        class="form-control"
                                        [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].minRateDescription"
                                        id="configElementMinRateDesc"
                                        name="configElementMinRateDesc"
                                        maxlength="200">
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-3">
                                <label class="col-12 col-lg-3 col-form-label px-0" for="configElementMaxRateDesc">Maximum Text</label>
                                <div class="col-12 col-lg-9 p-0">
                                    <input type="text"
                                        class="form-control"
                                        [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].maxRateDescription"
                                        id="configElementMaxRateDesc"
                                        name="configElementMaxRateDesc"
                                        maxlength="200">
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-3">
                                <label class="col-12 col-lg-3 col-form-label px-0" for="configElementMaxRate">Anzahl Optionen*</label>
                                <div class="col-12 col-lg-9 p-0">
                                    <input type="number"
                                        class="form-control"
                                        [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rateMax"
                                        [class.is-invalid]="!storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rateMax || storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rateMax < 2"
                                        id="configElementMaxRate"
                                        name="configElementMaxRate"
                                        min="2"
                                        max="10"
                                        required>
                                </div>
                            </div>
                        </div>

                        <!-- nouislider -->
                        <div *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'nouislider'">
                            <div class="form-group row m-0 mb-3">
                                <label class="col-12 col-lg-3 col-form-label px-0" for="configElementMaxRate">Schritte*</label>
                                <div class="col-12 col-lg-9 p-0">
                                    <input type="number"
                                        class="form-control"
                                        [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].step"
                                        [class.is-invalid]="!storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].step || storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].step < 1"
                                        id="configElementMaxRate"
                                        name="configElementMaxRate"
                                        min="1"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-3">
                                <label class="col-12 col-lg-3 col-form-label px-0" for="configElementMin">Minimaler Wert*</label>
                                <div class="col-12 col-lg-9 p-0">
                                    <input type="number"
                                        class="form-control"
                                        [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rangeMin"
                                        [class.is-invalid]="!storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rangeMin && storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rangeMin !== 0"
                                        id="configElementMin"
                                        name="configElementMin"
                                        min="0"
                                        max="{{ storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rangeMax - 1 }}"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row m-0 mb-3">
                                <label class="col-12 col-lg-3 col-form-label px-0" for="configElementMax">Maximaler Wert*</label>
                                <div class="col-12 col-lg-9 p-0">
                                    <input type="number"
                                        class="form-control"
                                        [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rangeMax"
                                        [class.is-invalid]="!storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rangeMax || storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rangeMax < storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rangeMin + 1"
                                        id="configElementMax"
                                        name="configElementMax"
                                        min="{{ storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rangeMin + 1 }}"
                                        max="10000"
                                        required>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- modal choices tab -->
                <div *ngIf="tabSelected === 1">
                    <!-- choices list -->
                    <h5>Antworten</h5>
                    <div *ngFor="let item of storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].choices; index as i">
                        <div class="form-row m-0 mb-2">
                            <div class="form-group col-6 m-0 pl-0">
                                <label for="configElementChoicesValue{{ i }}" class="sr-only">Wert*</label>
                                <input type="text"
                                    class="form-control"
                                    [(ngModel)]="item.value"
                                    [class.is-invalid]="!item.value && item.value !== 0"
                                    id="configElementChoicesValue{{ i }}"
                                    name="configElementChoicesValue{{ i }}"
                                    placeholder="Datenwert"
                                    maxlength="200"
                                    required>
                            </div>
                            <div class="form-group col-6 m-0 pr-0">
                                <label for="configElementChoicesText{{ i }}" class="sr-only">Name</label>
                                <input type="text"
                                    class="form-control"
                                    [(ngModel)]="item.text"
                                    id="configElementChoicesText{{ i }}"
                                    name="configElementChoicesText{{ i }}"
                                    placeholder="Anzeigetext"
                                    maxlength="200">
                            </div>
                            <div class="form-group col-10 col-md-11 m-0 mt-2 px-0" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'imagepicker'">
                                <label for="configElementChoicesImage{{ i }}" class="sr-only">Bild URL*</label>
                                <input type="url"
                                    class="form-control"
                                    [(ngModel)]="item.imageLink"
                                    [class.is-invalid]="!item.imageLink"
                                    *ngIf="!item.imageLink.startsWith('data:image')"
                                    id="configElementChoicesImage{{ i }}"
                                    name="configElementChoicesImage{{ i }}"
                                    placeholder="Bild URL"
                                    maxlength="1000"
                                    required>
                                <div *ngIf="item.imageLink.startsWith('data:image')">
                                    <img class="img-thumbnail"
                                        style="height: 80px;"
                                        [src]="item.imageLink"
                                        [title]="(item.text ? item.text : item.value)">
                                    <button type="button" class="btn btn-danger btn-sm ml-2" title="Bild löschen" (click)="deleteImage(i)">
                                        <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
                                        <span class="sr-only">Bild löschen</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-2 col-md-1 m-0 mt-2 px-0 text-right" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'imagepicker'">
                                <button type="button" class="btn btn-primary" title="Bild Hochladen" (click)="uploadImage(i)">
                                    <i class="fas fa-upload fa-fw" aria-hidden="true"></i>
                                    <span class="sr-only">Bild Hochladen</span>
                                </button>
                            </div>
                        </div>

                        <hr *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'imagepicker' && storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].choices.length - 1 !== i">
                    </div>
                    <button type="button" class="btn btn-danger btn-sm mr-2" title="Auswahlmöglichkeit entfernen" (click)="AnswerDel()">
                        <i class="fas fa-minus fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Auswahlmöglichkeit entfernen</span>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" title="Auswahlmöglichkeit hinzufügen" (click)="AnswerAdd()">
                        <i class="fas fa-plus fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Auswahlmöglichkeit hinzufügen</span>
                    </button>
                    <hr>

                    <!-- answer order -->
                    <div class="form-group row m-0 mb-3">
                        <label for="configElementAnswerOrder" class="col-12 col-lg-3 col-form-label px-0">Antwortenreihenfolge</label>
                        <div class="col-12 col-lg-9 p-0">
                            <select class="custom-select"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].choicesOrder"
                                id="configElementAnswerOrder"
                                name="configElementAnswerOrder"
                                required>
                                <option value="undefined">Standard</option>
                                <option value="random">Zufällig</option>
                                <option value="asc">Aufsteigend</option>
                                <option value="desc">Absteigend</option>
                            </select>
                        </div>
                    </div>

                    <!-- other option -->
                    <div class="form-group row m-0 mb-3" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type !== 'imagepicker'">
                        <div class="col-12 col-lg-3 col-form-label custom-control custom-checkbox">
                            <input type="checkbox"
                                class="custom-control-input"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].hasOther"
                                [disabled]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].hasComment"
                                id="configElementOther"
                                name="configElementOther">
                            <label class="custom-control-label" for="configElementOther">Freitext Option</label>
                        </div>
                        <div class="col-12 col-lg-9 form-group p-0 m-0" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].hasOther">
                            <label class="sr-only" for="configElementOtherText">Freitext Text</label>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].otherText"
                                id="configElementOtherText"
                                name="configElementOtherText"
                                placeholder="Anzeigetext"
                                maxlength="200">
                        </div>
                    </div>

                    <!-- comment option -->
                    <div class="form-group row m-0 mb-3">
                        <div class="col-12 col-lg-3 col-form-label custom-control custom-checkbox">
                            <input type="checkbox"
                                class="custom-control-input"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].hasComment"
                                [disabled]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].hasOther"
                                id="configElementComment"
                                name="configElementComment">
                            <label class="custom-control-label" for="configElementComment">Kommentar Option</label>
                        </div>
                        <div class="col-12 col-lg-9 form-group p-0 m-0" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].hasComment">
                            <label class="sr-only" for="configElementCommentText">Kommentar Text</label>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].commentText"
                                id="configElementCommentText"
                                name="configElementCommentText"
                                placeholder="Anzeigetext"
                                maxlength="200">
                        </div>
                    </div>

                    <!-- none option -->
                    <div class="form-group row m-0 mb-3" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'checkbox'">
                        <div class="col-12 col-lg-3 col-form-label custom-control custom-checkbox">
                            <input type="checkbox"
                                class="custom-control-input"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].hasNone"
                                id="configElementNone"
                                name="configElementNone">
                            <label class="custom-control-label" for="configElementNone">Keins trifft zu Option</label>
                        </div>
                        <div class="col-12 col-lg-9 form-group p-0 m-0" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].hasNone">
                            <label class="sr-only" for="configElementNoneText">Keins trifft zu Text</label>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].noneText"
                                id="configElementNoneText"
                                name="configElementNoneText"
                                placeholder="Anzeigetext"
                                maxlength="200">
                        </div>
                    </div>

                    <!-- multiselect option -->
                    <div class="custom-control custom-checkbox mb-3" *ngIf="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].type === 'imagepicker'">
                        <input type="checkbox"
                            class="custom-control-input"
                            [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].multiSelect"
                            id="configElementMultiSelect"
                            name="configElementMultiSelect">
                        <label class="custom-control-label" for="configElementMultiSelect">Multi Auswahl</label>
                    </div>
                </div>

                <!-- modal matrix tab -->
                <div *ngIf="tabSelected === 2">
                    <!-- columns list -->
                    <h5>Antworten</h5>
                    <div *ngFor="let item of storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].columns; index as i">
                        <div class="form-row m-0 mb-2">
                            <div class="form-group col-6 m-0 pl-0">
                                <label for="configElementColumnsValue{{ i }}" class="sr-only">Wert*</label>
                                <input type="text"
                                    class="form-control"
                                    [(ngModel)]="item.value"
                                    [class.is-invalid]="!item.value && item.value !== 0"
                                    id="configElementColumnsValue{{ i }}"
                                    name="configElementColumnsValue{{ i }}"
                                    placeholder="Datenwert"
                                    maxlength="200"
                                    required>
                            </div>
                            <div class="form-group col-6 m-0 pr-0">
                                <label for="configElementColumnsText{{ i }}" class="sr-only">Name</label>
                                <input type="text"
                                    class="form-control"
                                    [(ngModel)]="item.text"
                                    id="configElementColumnsText{{ i }}"
                                    name="configElementColumnsText{{ i }}"
                                    placeholder="Anzeigetext"
                                    maxlength="200">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm mr-2" title="Antwort entfernen" (click)="MatrixColumnDel()">
                        <i class="fas fa-minus fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Antwort entfernen</span>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" title="Antwort hinzufügen" (click)="MatrixColumnAdd()">
                        <i class="fas fa-plus fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Antwort hinzufügen</span>
                    </button>
                    <hr>

                    <!-- rows list -->
                    <h5>Fragen</h5>
                    <div *ngFor="let item of storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rows; index as i">
                        <div class="form-row m-0 mb-2">
                            <div class="form-group col-6 m-0 pl-0">
                                <label for="configElementRowsValue{{ i }}" class="sr-only">Eindeutiger Identifier*</label>
                                <input type="text"
                                    class="form-control"
                                    [(ngModel)]="item.value"
                                    [class.is-invalid]="!item.value"
                                    id="configElementRowsValue{{ i }}"
                                    name="configElementRowsValue{{ i }}"
                                    placeholder="Eindeutiger Identifier"
                                    maxlength="200"
                                    required>
                            </div>
                            <div class="form-group col-6 m-0 pr-0">
                                <label for="configElementRowsText{{ i }}" class="sr-only">Name</label>
                                <input type="text"
                                    class="form-control"
                                    [(ngModel)]="item.text"
                                    id="configElementRowsText{{ i }}"
                                    name="configElementRowsText{{ i }}"
                                    placeholder="Anzeigetext"
                                    maxlength="200">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm mr-2" title="Frage entfernen" (click)="MatrixRowDel()">
                        <i class="fas fa-minus fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Frage entfernen</span>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" title="Frage hinzufügen" (click)="MatrixRowAdd()">
                        <i class="fas fa-plus fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Frage hinzufügen</span>
                    </button>
                    <hr>

                    <!-- answer order -->
                    <div class="form-group row m-0 mb-3">
                        <label for="configElementRowsOrder" class="col-12 col-lg-3 col-form-label px-0">Antwortenreihenfolge</label>
                        <div class="col-12 col-lg-9 p-0">
                            <select class="custom-select"
                                [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].rowsOrder"
                                id="configElementRowsOrder"
                                name="configElementRowsOrder"
                                required>
                                <option value="undefined">Standard</option>
                                <option value="random">Zufällig</option>
                            </select>
                        </div>
                    </div>

                    <!-- all rows required option -->
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox"
                            class="custom-control-input"
                            [(ngModel)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].isAllRowRequired"
                            id="configElementAllRows"
                            name="configElementAllRows">
                        <label class="custom-control-label" for="configElementAllRows">Alle Fragen müssen beantwortet werden</label>
                    </div>
                </div>

                <!-- modal condition tab -->
                <div *ngIf="tabSelected === 3">
                    Sichtbarkeitsbedingung
                    <br>
                    <power-formulars-editor-conditions [(data)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].visibleIf">
                    </power-formulars-editor-conditions>

                    <hr>
                    Pflichtbedingung
                    <br>
                    <power-formulars-editor-conditions [(data)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].requiredIf">
                    </power-formulars-editor-conditions>
                </div>

                <!-- modal validators tab -->
                <div *ngIf="tabSelected === 4">
                    Validatoren
                    <br>
                    <power-formulars-editor-validators [(data)]="storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID]">
                    </power-formulars-editor-validators>
                </div>

            <!-- modal buttons -->
            <div class="modal-footer">
                <div class="text-muted mr-auto">ID: {{ '&#123;' + storage.model.pages[storage.selectedPageID].elements[storage.selectedElementID].name + '&#125;' }}</div>
                <button type="button"
                    class="btn btn-danger"
                    title="Änderungen verwerfen"
                    (click)="Close()"
                    data-dismiss="modal">
                    Verwerfen
                </button>
                <button type="button"
                    class="btn btn-success"
                    title="Änderungen speichern"
                    (click)="Save()">
                    Speichern
                </button>
            </div>
        </div>
    </div>
</div>
