<main class="mainpage"
      id="content">
    <h1 class="sr-only"
        i18n>Immobilienmarkt Portal Niedersachsen</h1>
    <div class="mb-5">
        <carousel [interval]="5000"
                  [pauseOnFocus]="true"
                  [isAnimated]="true">
            <slide *ngIf="config.modules.includes('bodenrichtwerte')">
                <img src="./assets/images/bg-bodenrichtwerte.png"
                     i18n-alt
                     alt="Bodenrichtwerte"
                     class="carousel-image">
                <div class="carousel-caption text-center p-2 p-md-3 my-4 my-md-5">
                    <h2 class="display-4">
                        <span style="color: #343a40;">BORIS</span>
                        <span style="color: #c4153a;">.NI</span>
                    </h2>
                    <div class="lead text-dark">
                        <h3 class="h5"
                            i18n="@@bodenrichtwerte_fulltitle">Bodenrichtwert&shy;informations&shy;system
                            Niedersachsen und Bremen</h3>
                        <p i18n="@@bodenrichtwerte_shortdescription">Auskünfte über Bodenrichtwerte für Bauland und
                            Flächen der Land- und Forstwirtschaft</p>
                        <a class="btn btn-primary"
                           href=""
                           (click)="$event.preventDefault(); scrollToElement('bodenrichtwerte')"
                           role="button"
                           i18n>Mehr dazu</a>
                    </div>
                </div>
            </slide>
            <slide *ngIf="config.modules.includes('grundstuecksmarktberichte')">
                <img src="./assets/images/bg-bodenrichtwerte.png"
                     i18n-alt
                     alt="Grundstücksmarktberichte"
                     class="carousel-image">
                <div class="carousel-caption text-center p-2 p-md-3 my-4 my-md-5">
                    <h2 class="display-4">
                        <span style="color: #343a40;"
                              i18n="@@grundstuecksmarktberichte_fulltitle">Grundstücks&shy;markt&shy;berichte</span>
                    </h2>
                    <div class="lead text-dark">
                        <p i18n="@@grundstuecksmarktberichte_shortdescription">Einblicke in den Grundstücksmarkt und der
                            Entwicklung des Preisniveau der einzelnen Gutachterausschüsse</p>
                        <a class="btn btn-primary"
                           href=""
                           (click)="$event.preventDefault(); scrollToElement('grundstuecksmarktberichte')"
                           role="button"
                           i18n>Mehr dazu</a>
                    </div>
                </div>
            </slide>
            <slide *ngIf="config.modules.includes('landesgrundstuecksmarktdaten')">
                <img src="./assets/images/bg-bodenrichtwerte.png"
                     i18n-alt
                     alt="Landesgrundstücksmarktdaten"
                     class="carousel-image">
                <div class="carousel-caption text-center p-2 p-md-3 my-4 my-md-5">
                    <h2 class="display-4">
                        <span style="color: #343a40;"
                              i18n="@@landesgrundstuecksmarktdaten_fulltitle">Landesgrund&shy;stücks&shy;markt&shy;daten</span>
                    </h2>
                    <div class="lead text-dark">
                        <p i18n="@@landesgrundstuecksmarktdaten_shortdescription">Eine Analyse des Grundstücksmarktes in
                            ganz Niedersachsen vom oberen Gutachterausschuss</p>
                        <a class="btn btn-primary"
                           href=""
                           (click)="$event.preventDefault(); scrollToElement('landesgrundstuecksmarktdaten')"
                           role="button"
                           i18n>Mehr dazu</a>
                    </div>
                </div>
            </slide>
            <slide *ngIf="config.modules.includes('immobilienpreisindex')">
                <img src="./assets/images/bg-bodenrichtwerte.png"
                     i18n-alt
                     alt="Immobilienpreisindex"
                     class="carousel-image">
                <div class="carousel-caption text-center p-2 p-md-3 my-4 my-md-5">
                    <h2 class="display-4">
                        <span style="color: #c4153a;">NI</span>
                        <span style="color: #343a40;">PIX</span>
                    </h2>
                    <div class="lead text-dark">
                        <h3 class="h5"
                            i18n>Niedersächsischer Immobilienpreisindex</h3>
                        <p i18n="@@immobilienpreisindex_shortdescription">Darstellung der Preisentwicklung von
                            Eigenheimen und Eigentumswohnungen</p>
                        <a class="btn btn-primary"
                           href=""
                           (click)="$event.preventDefault(); scrollToElement('immobilienpreisindex')"
                           role="button"
                           i18n>Mehr dazu</a>
                    </div>
                </div>
            </slide>
            <slide *ngIf="config.modules.includes('immobilienpreiskalkulator')">
                <img src="./assets/images/bg-bodenrichtwerte.png"
                     i18n-alt
                     alt="Immobilien-Preis-Kalkulator"
                     class="carousel-image">
                <div class="carousel-caption text-center p-2 p-md-3 my-4 my-md-5">
                    <h2 class="display-4">
                        <span style="color: #343a40;"
                              i18n>IPK</span>
                    </h2>
                    <div class="lead text-dark">
                        <h3 class="h5"
                            i18n>Immobilien-Preis-Kalkulator</h3>
                        <p i18n="@@immobilienpreiskalkulator_shortdescription">Ein Rechner zum ermitteln eines
                            geschätzten Preisniveau einer Immobilien</p>
                        <a class="btn btn-primary"
                           href=""
                           (click)="$event.preventDefault(); scrollToElement('immobilienpreiskalkulator')"
                           role="button"
                           i18n>Mehr dazu</a>
                    </div>
                </div>
            </slide>
            <slide *ngIf="config.modules.includes('forms')">
                <img src="./assets/images/bg-bodenrichtwerte.png"
                     i18n-alt
                     alt="Formulare"
                     class="carousel-image">
                <div class="carousel-caption text-center p-2 p-md-3 my-4 my-md-5">
                    <h2 class="display-4">
                        <span style="color: #343a40;"
                              i18n>Formulare</span>
                    </h2>
                    <div class="lead text-dark">
                        <h3 class="h5"
                            i18n>Online Formular Service</h3>
                        <p i18n="@@forms_shortdescription">Wenn Sie ein Formular einreichen wollen, finden Sie hier
                            unsere Formulare</p>
                        <a class="btn btn-primary"
                           href=""
                           (click)="$event.preventDefault(); scrollToElement('forms')"
                           role="button"
                           i18n>Mehr dazu</a>
                    </div>
                </div>
            </slide>
            <slide *ngIf="config.modules.includes('ogc-dienste')">
                <img src="./assets/images/bg-bodenrichtwerte.png"
                     i18n-alt
                     alt="OGC Darstellungs- und Downloaddienste"
                     class="carousel-image">
                <div class="carousel-caption text-center p-2 p-md-3 my-4 my-md-5">
                    <h2 class="display-4">
                        <span style="color: #343a40;"
                              i18n>OGC Dienste</span>
                    </h2>
                    <div class="lead text-dark">
                        <h3 class="h5"
                            i18n>OGC Darstellungs- und Downloaddienste</h3>
                        <p i18n>Das LGLN stellt gebührenfreie OGC Darstellungs- und Downloaddienste über WMS und WFS
                            Schnittstellen bereit</p>
                        <a class="btn btn-primary"
                           href=""
                           (click)="$event.preventDefault(); scrollToElement('ogc-dienste')"
                           role="button"
                           i18n>Mehr dazu</a>
                    </div>
                </div>
            </slide>
            <slide *ngIf="config.modules.includes('feedback')">
                <img src="./assets/images/bg-bodenrichtwerte.png"
                     i18n-alt
                     alt="Feedback"
                     class="carousel-image">
                <div class="carousel-caption text-center p-2 p-md-3 my-4 my-md-5">
                    <h2 class="display-4">
                        <span style="color: #343a40;"
                              i18n>Feedback</span>
                    </h2>
                    <div class="lead text-dark">
                        <h3 class="h5"
                            i18n>Fehler oder Vorschlag einreichen</h3>
                        <p i18n="@@feedback_shortdescription">Wir schätzen Ihr Feedback sehr, bitte helfen Sie uns
                            unseren Service zu verbessern!</p>
                        <a class="btn btn-primary"
                           [routerLink]="['/feedback']"
                           role="button"
                           i18n>Zum Feedback</a>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>

    <div class="container marketing">
        <div class="row my-1"
             *ngIf="config.modules.includes('bodenrichtwerte')"
             id="bodenrichtwerte">
            <div class="col-md-7"
                 [class.order-md-2]="getCardOrder('bodenrichtwerte')">
                <a class="h2 display-4"
                   [routerLink]="['/bodenrichtwerte']">
                    <span style="color: #343a40;">BORIS</span>
                    <span style="color: #c4153a;">.NI</span>
                </a>
                <div class="lead">
                    <h3 class="h5 text-break"
                        i18n="@@bodenrichtwerte_fulltitle">Bodenrichtwert&shy;informations&shy;system Niedersachsen und
                        Bremen</h3>
                    <p class="text-justify"
                       i18n="@@bodenrichtwerte_description">Die Gutachterausschüsse und der Obere Gutachterausschuss für
                        Grundstückswerte in Niedersachsen und Bremen stellen interessierten Nutzern unter BORIS.NI
                        Bodenrichtwerte für Bauland und für Flächen der Land- und Forstwirtschaft in Niedersachsen,
                        Bremen und Bremerhaven zur Verfügung.</p>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-self-center"
                 aria-hidden="true">
                <a [routerLink]="['/bodenrichtwerte']"
                   i18n-title
                   title="Bodenrichtwerte"
                   tabindex="-1">
                    <img src="./assets/images/bodenrichtwerte.png"
                         class="figure-img img-thumbnail img-fluid mx-auto w-100"
                         i18n-alt
                         alt="Bodenrichtwerte">
                </a>
            </div>
        </div>
        <hr class="my-5"
            *ngIf="config.modules.includes('bodenrichtwerte')">

        <div class="row my-1"
             *ngIf="config.modules.includes('grundstuecksmarktberichte')"
             id="grundstuecksmarktberichte">
            <div class="col-md-7"
                 [class.order-md-2]="getCardOrder('grundstuecksmarktberichte')">
                <a class="h2 display-4"
                   [routerLink]="['/grundstuecksmarktberichte']">
                    <span style="color: #343a40;"
                          i18n="@@grundstuecksmarktberichte_fulltitle">Grundstücks&shy;markt&shy;berichte</span>
                </a>
                <div class="lead">
                    <p class="text-justify"
                       i18n="@@grundstuecksmarktberichte_description">Grundstücksmarktberichte geben einen fundierten
                        Einblick in das Geschehen am Grundstücksmarkt, insbesondere über Umsätze, Preisentwicklungen
                        sowie Preisniveau in den Teilmärkten, aber auch zu detaillierteren Zahlen und Kenngrößen. Die
                        Berichte wenden sich an interessierte private und an professionelle Nutzerinnen und Nutzer. Die
                        Herausgabe der Grundstücksmarktberichte obliegt den Gutachterausschüssen für Grundstückswerte,
                        deren Zuständigkeit jeweils eine bestimmte Region in Niedersachsen abdeckt. Die Berichte sind
                        kostenfrei verfügbar und werden als PDF-Dokumente bereitgestellt.</p>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-self-center"
                 aria-hidden="true">
                <a [routerLink]="['/grundstuecksmarktberichte']"
                   i18n-title
                   title="Grundstücksmarktberichte"
                   tabindex="-1">
                    <img src="./assets/images/grundstuecksmarktberichte.png"
                         class="figure-img img-thumbnail img-fluid mx-auto w-100"
                         i18n-alt
                         alt="Grundstücksmarktberichte">
                </a>
            </div>
        </div>
        <hr class="my-5"
            *ngIf="config.modules.includes('grundstuecksmarktberichte')">

        <div class="row my-1"
             *ngIf="config.modules.includes('landesgrundstuecksmarktdaten')"
             id="landesgrundstuecksmarktdaten">
            <div class="col-md-7"
                 [class.order-md-2]="getCardOrder('landesgrundstuecksmarktdaten')">
                <a class="h2 display-4"
                   href="https://www.gag.niedersachsen.de/grundstuecksmarktinformationen/"
                   target="_blank"
                   rel="noopener noreferrer nofollow">
                    <span style="color: #343a40;"
                          i18n="@@landesgrundstuecksmarktdaten_fulltitle">Landesgrund&shy;stücks&shy;markt&shy;daten</span>
                </a>
                <div class="lead">
                    <p class="text-justify"
                       i18n="@@landesgrundstuecksmarktdaten_description">Als Ergänzung zu den örtlichen
                        Grundstücksmarktberichten der Gutachterausschüsse stellen die Landesgrundstücksmarktdaten
                        überregionale und weiter generalisierte Zusammenhänge zum Grundstücksmarkt dar. Sie sind
                        geeignet, verschiedene Regionen in Niedersachsen miteinander zu vergleichen. Zuständig für die
                        Auswertungen und Analysen ist der Obere Gutachterausschuss für Grundstückswerte. Bereitgestellt
                        werden die kostenfreien Daten in Form von interaktiven Dashboards.</p>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-self-center"
                 aria-hidden="true">
                <a href="https://www.gag.niedersachsen.de/grundstuecksmarktinformationen/"
                   target="_blank"
                   rel="noopener noreferrer nofollow"
                   i18n-title
                   title="Landesgrundstücksmarktdaten"
                   tabindex="-1">
                    <img src="./assets/images/landesgrundstuecksmarktdaten.png"
                         class="figure-img img-thumbnail img-fluid mx-auto w-100"
                         i18n-alt
                         alt="Landesgrundstücksmarktdaten">
                </a>
            </div>
        </div>
        <hr class="my-5"
            *ngIf="config.modules.includes('landesgrundstuecksmarktdaten')">

        <div class="row my-1"
             *ngIf="config.modules.includes('immobilienpreisindex')"
             id="immobilienpreisindex">
            <div class="col-md-7"
                 [class.order-md-2]="getCardOrder('immobilienpreisindex')">
                <a class="h2 display-4"
                   [routerLink]="['/immobilienpreisindex']">
                    <span style="color: #c4153a;">NI</span>
                    <span style="color: #343a40;">PIX</span>
                </a>
                <div class="lead">
                    <h3 class="h5 text-break"
                        i18n>Niedersächsischer Immobilienpreisindex</h3>
                    <p class="text-justify"
                       i18n="@@immobilienpreisindex_description">Zur Darstellung der Preisentwicklung von Eigenheimen
                        (freistehende Ein- und Zweifamilienhäuser, Reihenhäuser und Doppelhaushälften) und
                        Eigentumswohnungen leitet der Obere Gutachterausschuss einen „Niedersächsischen
                        Immobilienpreisindex für Eigenheime und Eigentumswohnungen (NIPIX)“ ab. Die Gutachterausschüsse
                        und der Obere Gutachterausschuss für Grundstückswerte.</p>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-self-center"
                 aria-hidden="true">
                <a [routerLink]="['/immobilienpreisindex']"
                   i18n-title
                   title="Immobilienpreisindex"
                   tabindex="-1">
                    <img src="./assets/images/immobilienpreisindex.png"
                         class="figure-img img-thumbnail img-fluid mx-auto w-100"
                         i18n-alt
                         alt="Immobilienpreisindex">
                </a>
            </div>
        </div>
        <hr class="my-5"
            *ngIf="config.modules.includes('immobilienpreisindex')">

        <div class="row my-1"
             *ngIf="config.modules.includes('immobilienpreiskalkulator')"
             id="immobilienpreiskalkulator">
            <div class="col-md-7"
                 [class.order-md-2]="getCardOrder('immobilienpreiskalkulator')">
                <a class="h2 display-4"
                   href="https://www.boris.niedersachsen.de/boris/ipk"
                   target="_blank"
                   rel="noopener noreferrer nofollow">
                    <span style="color: #343a40;"
                          i18n>IPK</span>
                </a>
                <div class="lead">
                    <h3 class="h5 text-break"
                        i18n>Immobilien-Preis-Kalkulator</h3>
                    <p class="text-justify">
                        <span i18n>Mit Hilfe des Immobilien-Preis-Kalkulators können
                            Sie schnell und einfach das Preisniveau für Ihr freistehendes Ein-/Zweifamilienhaus, Ihr
                            Reihenhaus, Ihre Doppelhaushälfte oder Ihre Eigentumswohnung abschätzen. Der
                            Immobilien-Preis-Kalkulator basiert auf Marktmodellen (Vergleichsfaktoren), die durch die
                            Gutachterausschüsse für Grundstückswerte aus der Kaufpreissammlung mit Hilfe
                            mathematisch-statistischer Verfahren (multiple Regression) ermittelt werden. Eine Auskunft
                            auf Grundlage des Immobilien-Preis-Kalkulators ist</span>&nbsp;<strong
                                class="font-weight-bold"
                                i18n>gebührenpflichtig</strong>.
                    </p>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-self-center"
                 aria-hidden="true">
                <a href="https://www.boris.niedersachsen.de/boris/ipk"
                   target="_blank"
                   rel="noopener noreferrer nofollow"
                   i18n-title
                   title="Immobilienpreiskalkulator"
                   tabindex="-1">
                    <img src="./assets/images/immobilienpreiskalkulator.png"
                         class="figure-img img-thumbnail img-fluid mx-auto w-100"
                         i18n-alt
                         alt="Immobilienpreiskalkulator">
                </a>
            </div>
        </div>
        <hr class="my-5"
            *ngIf="config.modules.includes('immobilienpreiskalkulator')">

        <div class="row my-1"
             *ngIf="config.modules.includes('forms')"
             id="forms">
            <div class="col-md-7"
                 [class.order-md-2]="getCardOrder('forms')">
                <a class="h2 display-4"
                   [routerLink]="['/forms']">
                    <span style="color: #343a40;"
                          i18n>Formulare</span>
                </a>
                <div class="lead">
                    <h3 class="h5 text-break"
                        i18n>Online Formular Service</h3>
                    <p class="text-justify"
                       i18n="@@forms_description">Hier können öffentliche und private Formulare des LGLN online
                        ausgefüllt und abgeschickt werden. Wenn Sie eine PIN für ein Formular erhalten haben, können Sie
                        diesen direkt über die PIN abrufen und ausfüllen.</p>

                    <form #pinFormular="ngForm"
                          (ngSubmit)="submitPIN(pinInput.value)"
                          class="form-inline mb-3">
                        <label class="control-label sr-only"
                               for="pinInput"
                               i18n>Eingabefeld für eine Formular PIN, um zum entsprechenden Formular zu
                            gelangen.</label>
                        <input type="text"
                               class="form-control mr-2 w-mobile"
                               #pinInput="ngModel"
                               id="pinInput"
                               name="pinInput"
                               [(ngModel)]="pin"
                               [class.is-invalid]="pinFormular.submitted && pinInput.invalid"
                               i18n-placeholder
                               placeholder="Formular PIN"
                               required>

                        <button type="submit"
                                class="btn btn-success"
                                i18n-title
                                title="PIN absenden"
                                aria-label="PIN absenden"
                                i18n-aria-label>
                            <svg width="1.2em"
                                 height="1.2em"
                                 viewBox="0 0 16 16"
                                 class="bi bi-play-fill"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg"
                                 focusable="false"
                                 aria-hidden="true">
                                <path
                                      d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                            </svg>
                            <span class="sr-only"
                                  i18n>Die PIN absenden</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-self-center"
                 aria-hidden="true">
                <a [routerLink]="['/forms']"
                   i18n-title
                   title="Formulare"
                   tabindex="-1">
                    <img src="./assets/images/forms.png"
                         class="figure-img img-thumbnail img-fluid mx-auto w-100"
                         i18n-alt
                         alt="Formulare">
                </a>
            </div>
        </div>
        <hr class="my-5"
            *ngIf="config.modules.includes('forms')">

        <div class="row my-1"
             *ngIf="config.modules.includes('ogc-dienste')"
             id="ogc-dienste">
            <div class="col-md-7"
                 [class.order-md-2]="getCardOrder('ogc-dienste')">
                <a class="h2 display-4"
                   [routerLink]="['/ogc-dienste']">
                    <span style="color: #343a40;">OGC Dienste</span>
                </a>
                <div class="lead">
                    <h3 class="h5 text-break"
                        i18n>OGC Darstellungs- und Downloaddienste</h3>
                    <p class="text-justify"
                       i18n>Mithilfe der OGC konformen Dienste Web Map Service (WMS) und Web Feature Service (WFS) der
                        Bodenrichtwerte können Nutzer die Daten in Ihren eigenen GIS-Systemen nutzen, bzw. in eigene
                        Applikationen einbinden.</p>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-self-center"
                 aria-hidden="true">
                <a [routerLink]="['/ogc-dienste']"
                   i18n-title
                   title="OGC Darstellungs- und Downloaddienste"
                   tabindex="-1">
                    <img src="./assets/images/ogcdienste.png"
                         class="figure-img img-thumbnail img-fluid mx-auto w-100"
                         i18n-alt
                         alt="OGC Darstellungs- und Downloaddienste">
                </a>
            </div>
        </div>
    </div>
</main>
