<!-- <div class="position-relative overflow-hidden p-3 p-md-5 h-50 text-center">
    <div class="col-lg-5 p-lg-5 mx-auto my-5 headline">
        <h2 i18n>Bodenrichtwerte</h2>
        <p class="lead"
           i18n>für Bauland und landwirtschaftliche Nutzflächen für das gesamte Land Niedersachsen</p>
        <a class="btn btn-danger"
           [routerLink]="['/bodenrichtwerte']"
           i18n>Zur Anwendung</a>
    </div>
    <div class="bg-dark shadow-sm mx-auto d-lg-inline d-xl-none"
         style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    <div class="product-device shadow-sm d-none d-lg-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-lg-block"></div>
</div>

<div class="d-lg-flex flex-md-equal w-0 h-50">
    <div class="position-relative overflow-hidden pt-3 px-3 pt-md-5 px-md-5 text-center"
         style="height: 500px;">
        <div class="col-lg-7 mx-auto headline">
            <h2 class="font-weight-normal"
                i18n>Immobilienpreis-Index</h2>
            <a class="btn btn-danger"
               [routerLink]="['/immobilienpreisindex']"
               i18n>Zur Anwendung</a>
        </div>
        <div class="product-device-3 shadow-sm d-none d-lg-block"></div>
    </div>

    <div class="position-relative pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="col-lg-7 mx-auto headline">
            <h2 class="font-weight-normal"
                i18n>Online Formulare</h2>
            <a class="btn btn-danger"
               [routerLink]="['/forms']"
               i18n>Zur Anwendung</a>
        </div> -->
<!-- <div class="bg-dark shadow-sm"
             style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
<!-- <div class="product-device-4 shadow-sm mx-auto d-none d-lg-block"></div>
    </div>
</div> -->
<div class="container-xl border-left border-right">
    <div class="row pl-mm-5 pt-md-5 pr-md-0 pb-md-0 p-2">
        <div class="col-md-6 p-0">
            <div class="image col-md-12 p-0">
                <img class="img-fluid rounded"
                     src="../../../assets/IMG_8355.JPG">
            </div>
        </div>
        <div class="col-md-6 px-0 pl-md-5 pt-2">
            <div class="content col-md-12 text-dark p-5 rounded-left">
                <a class="h2 btn-link text-dark font-weight-bold"
                   [routerLink]="['/bodenrichtwerte']"
                   i18n>BORIS.NI</a>
                <p class="h6"
                   i18n>Bodenrichtwertinformationssystem Niedersachsen</p>
                <p class="lead text-justify"
                   i18n>Die Gutachterausschüsse und der Obere Gutachterausschuss für Grundstückswerte
                    in Niedersachsen stellen interessierten Nutzern unter BORIS.NI Bodenrichtwerte für Bauland und
                    für Flächen der Land- und Forstwirtschaft zur Verfügung.</p>
                <!-- <input placeholder="Geben Sie einen Ort ein" style="margin-top: 200px;"> -->
            </div>
        </div>
    </div>
    <div class="row pr-md-5 pt-md-5 pl-md-0 pb-md-0 p-2">
        <div class="col-md-9 p-0 pr-md-5 pt-2">
            <div class="content col-md-12 text-dark p-5 rounded-right">
                <a class="h2 btn-link text-dark font-weight-bold"
                   [routerLink]="['/immobilienpreisindex']"
                   i18n>NIPIX</a>
                <p class="h6"
                   i18n>Niedersächsischer Immobilienpreisindex</p>
                <p class="lead text-justify"
                   i18n>Zur Darstellung der Preisentwicklung von Eigenheimen (freistehende Ein- und Zweifamilienhäuser,
                    Reihenhäuser und Doppelhaushälften) und Eigentumswohnungen leitet der Obere Gutachterausschuss einen
                    „Niedersächsischen Immobilienpreisindex für Eigenheime und Eigentumswohnungen (NIPIX)“ ab. Die
                    Gutachterausschüsse und der Obere Gutachterausschuss für Grundstückswerte.</p>
                <!-- <input placeholder="Geben Sie einen Ort ein" style="margin-top: 200px;"> -->
            </div>
        </div>
        <div class="col-md-3 pr-md-0 pr-0 pl-0 order-md-last order-first">
            <div class="image col-md-12 p-0">
                <img class="img-fluid rounded"
                     src="../../../assets/IMG_8355.JPG">
            </div>
        </div>
    </div>
    <div class="row pl-md-5 pt-md-5 pr-md-0 pb-md-0 p-2">
        <div class="col-md-3 pr-0 pl-md-0 pl-0">
            <div class="image col-md-12 p-0">
                <img class="img-fluid rounded"
                     src="../../../assets/IMG_Fragebogen.webp">
            </div>
        </div>
        <div class="col-md-9 pr-md-0 pr-0 pl-md-5 pl-0 pt-2">
            <div class="content col-md-12 text-dark p-5 rounded-left">
                <a class="h2 btn-link text-dark font-weight-bold"
                   [routerLink]="['/immobilienpreisindex']"
                   i18n>Fragebogen-Online</a>
                <p class="lead text-justify pt-3"
                   i18n>Zur Darstellung der Preisentwicklung von Eigenheimen (freistehende Ein- und Zweifamilienhäuser,
                    Reihenhäuser und Doppelhaushälften) und Eigentumswohnungen leitet der Obere Gutachterausschuss einen
                    „Niedersächsischen Immobilienpreisindex für Eigenheime und Eigentumswohnungen (NIPIX)“ ab. Die
                    Gutachterausschüsse und der Obere Gutachterausschuss für Grundstückswerte.</p>
                <!-- <p>{{ 'Bodenrichtwertinformationssystem' | hyphenate }} -->
                <!-- <input placeholder="Geben Sie einen Ort ein" style="margin-top: 200px;"> -->
            </div>
        </div>
    </div>
</div>
