<div class="container-fluid p-0 m-0">
    <div class="row no-gutters">
        <div class="col">
            <div class="row no-gutters">
                <div class="col-12 bg-white"
                     style="z-index: 100;">
                    <ng-content select="[navi]"></ng-content>
                </div>
                <div class="col-12"
                     [class.border-bottom]="activeDetails">
                    <div class="wrapper"
                         [ngClass]="!activeDetails ? 'map-height-no-details' : 'map-height-active-details'">

                        <ng-content select="[ribbon]"></ng-content>

                        <div style="width: 100%; height: 100%;"
                             #mapContainer></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="activeDetails"
             class="col-12 col-lg-auto w-50">

            <ng-content select="[details]"></ng-content>
        </div>
        <div *ngIf="activeDetails"
             class="col-12 text-center border-top border-bottom py-2 px-0 bg-white">
            <div class="h6 m-0"
                 i18n>Bitte wählen Sie eine Position!</div>
        </div>
    </div>
</div>
