.wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.map-height-active-details {
    height: calc(100vh - 103px);
}

.map-height-no-details {
    height: calc(100vh - 143px);
}

@media (max-width: 991px) {
    .map-height-active-details {
        height: calc(100vh - 403px);
    }
}

.mapboxgl-map {
    height: 100%;
    width: 100%;
}
