<div class="d-none">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Stichtag</th>
      <th>Nutzung</th>
      <th>Wert</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let brzone of filteredFeatures" (click)="selectFeature(brzone)">
      <td> {{brzone.properties.stag | date:"yyyy" }}</td>
      <td> {{brzone.properties.nutzung}} </td>
      <td> {{brzone.properties.brw}} </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <label>
      <select class="custom-select" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="8">8 items per page</option>
      </select>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm" *ngFor="let ft of filteredFeatures">
    <power-bodenrichtwert-detail [feature]="ft"></power-bodenrichtwert-detail>
  </div>
</div>
