.max-search-width {
    max-width: 500px;
}

.active {
    color: #c4153a !important;
    background-color: transparent !important;
}

.nav-link:hover {
    color: #c4153a;
}

.dropdown-menu {
    min-width: 100% !important;
}
